// .backend_headerone {
//   width: 1440px;
//   height: 70px;
//   background-color: $color_red;
//   .backend_headertextone {
//     padding: 25px 0 0 30px;
//     color: white;
//     font-size: $h3;
//   }
// }

.backend_logoutone {
  padding-top: 120px;
  margin-bottom: 80px;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  position: relative;
  a {
    color: black;
    span {
      //border: 1px solid red;
      font-size: 18px;
      line-height: 1.2em;
    }
  }
}

.backend_toptwo .boxtwo {
  text-align: center;
  border: 1px solid $color_red;
  width: 182px;
  height: 133px;
  font-size: 14px;
  border-radius: 4px;
}

.backend_toptwo {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  margin-top: 30px;
  margin-bottom: 50px;

  h1 {
    font-size: 24px;
    padding-top: 0.2em;
    margin-top: 15px;
  }
  ul {
    list-style: none;
    margin-top: 10px;
  }
  a {
    text-decoration: none;
    color: $color_black;
  }
}
.backend_toptwo a:nth-child(2) .boxtwo {
  color: #fff;
  background-color: $color_red;
  border-radius: 4px;
  margin-left: 15px;
}
.backend_searchthree {
  padding-left: 0.4em;
  width: 280px;
  height: 40px;
  float: right;
  border: #000 1px solid;
  justify-content: center;
  margin-bottom: 20px;
  border-radius: 3px;
}

.backend_tablethree3 {
  border: 1px solid $color_black;
  height: 45px;
  font-size: 16px;
  width: 100%;
  margin-top: 20px;
  border-collapse: collapse;
  border-spacing: 20px;

  th {
    border: 1px solid $color_black;
    font-size: 14px;
    background-color: rgba(196, 196, 196, 1);
    border: 1px solid #000;
    color: $color_black;
    height: 60px;
    text-align: center;
    padding: 10px 0 10px 0;
  }
  td {
    border: 1px solid $color_black;
    font-size: 14px;
    height: 50px;
    text-align: center;
    border-spacing: 20px;
  }
}
button.backend_button3 {
  width: 98px;
  height: 24px;
  border-radius: 4px;
  background-color: $color_white;
  color: $color_red;
  font-size: $h4;
  border: none;
  cursor: pointer;
  border: 1px solid $color_red;
  display: inline-block;
  line-height: 12px;
  text-decoration: none;
  text-align: center;

  &:hover {
    border: 1px solid $color_gold;
    color: $color_gold;
  }
}

.backend_tablethree3 td:hover {
  background-color: $color_white;
}
