// .backend_headerone1{
//     width: 1440px;
//     height: 70px;
//     background-color: $color_red;
//     .backend_headertextone{
//         padding: 25px 0 0 30px;
//         color: white;
//         font-size: $h3;
//     }
//   }

//   .backend_logoutone{
//     width: 1440px;
//     height: 150px;
//     text-align: right;
//     margin-top: 50px;
//     padding-top: 30px;
//     padding-right: 222px;
//     span{
//       //border: 1px solid red;
//       font-size: 18px;
//       border-bottom: 2px solid $color_black;
//     }
//   }

.backend_topfour .boxfour {
  text-align: center;
  border: 1px solid $color_red;
  width: 182px;
  height: 133px;
  font-size: 14px;
  border-radius: 4px;
}

.backend_topfour {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  margin-top: 30px;
  margin-bottom: 50px;

  h1 {
    font-size: 24px;
    padding-top: 0.2em;
    margin-top: 15px;
  }
  ul {
    list-style: none;
    margin-top: 10px;
  }
  a {
    text-decoration: none;
    color: $color_black;
  }
}
.backend_topfour a:nth-child(4) .boxfour {
  color: #fff;
  background-color: $color_red;
  border-radius: 4px;
}

.backend_searchthree {
  width: 280px;
  height: 40px;

  display: flex;
  border: #000 1px solid;
}
.backend_tableseven {
  border: 1px solid $color_black;
  height: 45px;
  font-size: 16px;
  width: 100%;
  margin-top: 20px;
  border-collapse: collapse;
  border-spacing: 20px;

  th {
    border: 1px solid $color_black;
    font-size: 14px;
    background-color: rgba(196, 196, 196, 1);
    border: 1px solid #000;
    color: $color_black;
    height: 60px;
    text-align: center;
    padding: 10px 0 10px 0;
  }
  td {
    border: 1px solid $color_black;
    font-size: 14px;
    height: 50px;
    text-align: center;
    border-spacing: 20px;
  }
}

.erh_backend_wrap .button {
  display: flex;
  justify-content: center;
}
button.backend_button7-1 {
  width: 146px;
  height: 40px;
  border-radius: 4px;
  background-color: $color_red;
  color: $color_white;
  font-size: $h4;
  border: none;
  cursor: pointer;
  border: 1px solid $color_red;
  line-height: 12px;
  text-decoration: none;
  text-align: center;
  margin-right: 1.5em;
  &:hover {
    border: 1px solid $color_gold;
    color: $color_white;
    background-color: $color_gold;
  }
}
button.backend_button7-2 {
  width: 146px;
  height: 40px;
  margin-left: 1.5em;
  border-radius: 4px;
  background-color: $color_red;
  color: $color_white;
  font-size: $h4;
  border: none;
  cursor: pointer;
  border: 1px solid $color_red;
  line-height: 12px;
  text-decoration: none;
  text-align: center;
  &:hover {
    border: 1px solid $color_gold;
    color: $color_white;
    background-color: $color_gold;
  }
}