.cards_skin_aside{
    width: 365px;
    height: 100vh;
    background-color: $color_rice;
    overflow: auto;
    position: fixed;
    box-shadow: 0px 0px 29px rgba($color: #000 , $alpha: .25);

    @media (max-width: 1000px){
        margin-top: 50vh;
        height: 50%;
        position: absolute;
        width: 100%;

    }
    

    .cards_skin_aside_prev{
        display: flex;
        align-items: center;
        padding: 30px;
        margin-bottom: 30px;

        // border-bottom:0.5px solid rgba($color: $color_red, $alpha: 0.2);

        
        
        div{
            padding: 5px;
        }

        h2{
            font-size: $h2;
            font-weight: $w2;
            font-family: $f2;
            color: $color_black;
        }
    }

    .cards_skin_control_oo{
        display: flex;
        justify-content: center;
        

        .cards_skin_control{
            display: flex;
            justify-content: center;
            border: 1px solid $color_red;
            border-radius: 4px;
            cursor: pointer;
    
            .cards_skin_editbtn{
                width: 153px;
                height: 72px;
                background-color: none;   
                margin: 3px;
        
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;
                border-radius: 4px;
                transition: .2s ease-out;
        
                P{
                    color: $color_gray2;
                }

                h4{
                    font-size: 24px;
                    color: $color_gray2;
                }

                img {
                    position: relative;
                    left: -2000px;
                    filter: drop-shadow($color_gray2 2000px 0);
                }

                &:hover{
                    background-color: $color_red; 
                    box-shadow: 0px 0px 29px rgba($color: #000 , $alpha: .25);
    
                    P{
                        color: white;
                    }
    
                    h4{
                        font-size: 24px;
                        color: white;
                    }
    
                    img {
                        position: relative;
                        left: -2000px;
                        filter: drop-shadow(#fff 2000px 0);
                    }
                }
                
            }

            

            .cards_skin_editbtn_active{
                background-color: $color_red; 
                box-shadow: 0px 0px 29px rgba($color: #000 , $alpha: .25);

                P{
                    color: white;
                }

                h4{
                    font-size: 24px;
                    color: white;
                }

                img {
                    position: relative;
                    left: -2000px;
                    filter: drop-shadow(#fff 2000px 0);
                }




            }
        }
    }

    .cards_skin_hicolor{
        display: flex;
        justify-content: space-between;
        margin:32px auto 0;
        width: 310px;
        align-items: center;
        p{
            @include content_text();
            font-size: 18px;
            font-weight: bold;
        }
        span{
            width: 25px;
            height: 25px;
            border-radius: 50%;
            // background-color: palevioletred;
        }
    }
    // =========================顏色=========================================
    .cards_skin_accordion{
        display: flex;
        justify-content: space-between;
        margin:0px auto 0;
        width: 310px;
        align-items: center;
        cursor: pointer;
  
        @include content_text();
        font-size: 16px;
        font-weight: bold;

        &:hover{
            background-color: rgba(219, 186, 182, 0.4);
        }
        
    }

    .cards_skin_panel {
        max-height: 0;
        overflow: hidden;
        transition: 0.2s ease-out;
        display: flex;
        flex-wrap: wrap;
        width: 75%;
        margin: auto;
        // justify-content: space-between;
    
   
        .cards_skin_color{
            list-style: none;
            margin-right: 15px;
            margin-bottom: 15px;
            width: 40px;
            height: 40px;
            border-radius: 50%;
            cursor: pointer;
    
            &:hover{
                border:1px solid $color_gold;
                
            }
        }

    }

    hr{
        margin:32px auto 32px;
        width: 320px;
        border-top:0.1px #333 solid;
    }


    h3{
        width: 310px;
        margin: 0 auto 8px;
    }

    .cards_skinn_panel{
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        .cards_skin_panel_img {
            list-style: none;
            margin-right: 15px;
            margin-bottom: 15px;
            cursor: pointer;
            border: 1px solid transparent;
    
            width: 300px;
            height: 140.5px;
            
            &:hover{
                border: 1px solid $color_gold;
                // box-shadow: 0px 0px 10px $color_gold;
            }
            
            img{
                width: 100%;
            }
        }
    }

    .cards_skin_fonts{

        h3{
            margin-top: 30px;
            margin-bottom: 10px;
        }
        .cards_skinnn_panel{
            display: flex;
            flex-wrap: wrap;
            width: 75%;
            margin: auto;
            .cards_skin_panel_font{
                list-style: none;
                margin-right: 15px;
                margin-bottom: 25px;
                font-size: 18px;
                width: 100%;
                cursor: pointer;
                border-bottom: 0.5px solid #dbbab6;
            }

        }

    }
    // .cards_skin_wox{
    //     display: flex;
    //     justify-content: center;
    //     flex-wrap: wrap;
    //     overflow: auto;


    //     .cards_skin_box{
    //         display: flex;
    //         flex-direction: column;
    //         align-items: center;
    //         padding: 5px;
    //     }
    // }
}


// ========================右側顯示=====================================================
.cards_skin_main{
    margin-left: 365px;
    height: 100vh;
    background-color: $color_white;

    @media (max-width: 1000px){
        margin-left: 0px;
        height: 50%;
        position: relative;
        top: 8px;

    }

    .cards_skin_main_webcontrol{
        text-align: center;
        @media (max-width:1000px){
            display: none;
        }

        img{
            margin: 30px;
        }
    }

    .cards_skin_newout {
        //====================這個是輸出框====================================
        width: 80%;
        height: 75vh;
        overflow: auto;
        margin: auto;
        box-shadow: 0px 0px 30px rgba($color: $color_red, $alpha: .1);
        position: relative;
        background-color:white;
        z-index: 0;
    
        @media (max-width: 1000px){
            height: 40vh;
            width: 95%;
        }
    
        // =================================================我是輸出=======================================
    
        .cards_exports_titlebg{
            max-width: 1440px;
            // height: 710px;
        
            // background:url("../images/cards/cards_exports_01_00.jpg") no-repeat;
            // background-size: cover;
            // background-size:100% auto ;
        
            
            margin: auto;
            position: relative;
        
            .cards_exports_title{
                text-align: center;
                padding-top: 70px;
                @include title_m();
                line-height: 40px;
        
            }
        
        
            .cards_exports_atop{
                display: flex;
                justify-content: center;
                margin: 50px auto 32px;
        
                    
                a{
                    text-decoration: none;
                    @include content_text_red();
                    // display: flex;
                    margin:15px 25px;
                    color:$color_black;
        
        
                    &:hover{
                        color:$color_red;
                    }
        
                    @include m{
                        margin:5px 15px;
                    }
                }
            }
            .cards_exports_img01{
                max-width: 660px;
                width: 60%;
                margin: auto;
        
                @include m{
                    width: 90%;
                }
        
                img{
                    width: 100%;
                }
            }
            .cards_exports_imgbg{
                img{
                    width: 100%;
                    position: absolute;
                    top: 0;
                    left: 0;
                    margin: auto;
                    z-index: -1;
        
                    @include m{
                        position: absolute;
                        top: 0;
                        left: 0;
                    }
                }
            }
        }
        
        .cards_exports_dtext{
            text-align: center;
            @include content_text();
            font-weight: bold;
            margin-top: 20px;
            letter-spacing: 1px;
        }
        
        
        
        .cards_exports_time{
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: space-between;
        
        
            .cards_exports_time_01{
                @include title_m() ;
        
                line-height:50px;
                margin-top: 25px;
            }
        
            .cards_exports_time_02{
                font-family: $f1;
                font-weight: $w2;
                font-size: $h3;
                color: $color_red;
                margin-top: 15px;
            }
        
            .cards_exports_time_03{
                font-family: $f2;
                font-weight: $w1;
                font-size: $h4;
                color: $color_black;
                margin-top: 15px;
                background: url(../images/icons/calendar.svg)  no-repeat;
                padding-left: 30px;
                line-height: 25px;
            }
        
            .cards_exports_time_04{
                font-family: $f2;
                font-weight: $w2;
                font-size: $h3;
                color: $color_black;
                margin-top: 15px;
            }
        
        
        }
        
        
        .cards_exports_infoimg{
            max-width: 660px;
            margin: 80px auto 60px;
            width: 60%;
        
            @include m{
                width: 90%;
            }
        
            img{
                width: 100%;
            }
        }
        
        .cards_exports_infotext{
            @include title();
            text-align: center;
            margin: 60px 0;
        }
        
        
        .cards_exports_infooutbox{
            display: flex;
            justify-content: center;
        
            @media (max-width: 1450px) {
                flex-direction: column;
                align-items: center;
            }
        
            .cards_exports_iframeei{
                max-width: 490px;
                iframe{
        
                    @include m{
                        
                        width: 360px;
                    }
                }
            }
            
            .cards_exports_infobox{
                display: flex;
                flex-direction: column;
                justify-content: center;
        
                @media (max-width: 1450px ) {
                margin-top: 40px;
                }
                
            
                .cards_exports_infomap{
                    font-family: $f2;
                    font-weight: $w2;
                    font-size: $h3;
                    color: $color_black;
                    margin-left: 50px;
                    margin-bottom: 35px;
                    
                    &:nth-child(1){
                        background: url('../images/icons/cards_exports_Bell.svg') no-repeat;
                        padding-left: 40px;
                    }            
                    &:nth-child(2){
                        background: url('../images/icons/cards_exports_drink.svg') no-repeat;
                        padding-left: 40px;
                    }            
                    &:nth-child(3){
                        background: url('../images/icons/cards_exports_house.svg') no-repeat;
                        padding-left: 40px;
                    }            
        
                    p{
                        @include content_text();
                        line-height: 17px;
                        margin-top: 5px;
        
                        
                    }
                }
            }
        }
        
        .cards_exports_infoimg3{
            max-width: 660px;
            margin: 130px auto 30px;
            width: 60%;
        
            @include m{
                width: 90%;
                margin: 50px auto 30px;
            }
        
            img{
                width: 100%;
            }
        }
        
        .cards_exports_infotext3{
            @include title();
            text-align: center;
            margin: 40px 0 25px;
        }
        
        .cards_exports_story{
            @include content_text();
            text-align: center;
            line-height: 26px;
            letter-spacing: 1px;
            width: 60%;
            margin: auto ;
        
            @include m{
                width: 90%;
            }
        }
        
        .cards_exports_infotext4{
            @include title();
            text-align: center;
            margin: 100px 0 10px;
        
        }
        
        .cards_exports_ontime{
            display: flex;
            justify-content: center;
            margin-bottom: 120px;
            
            .cards_exports_ontime1{
                margin: 15px 20px;
                font-family: $f2;
                font-weight: $w1;
                font-size: $h4;
                color: $color_black;
        
                @include m{
                    margin: 7px 10px;
                }
        
                span{
                    font-family: $f1;
                    font-weight: $w2;
                    font-size: $h1;
                    color: $color_gold;
                }
            }
        }
        
        .cards_exports_frombg{
            background-color: $color_rice;
            max-width: 1000px;
            width: 60%;
            margin: auto;
        
            @include m{
                width: 90%;
            }
            .cards_exports_infoimg4{
                max-width: 660px;
                margin: 0px auto 0px;
                padding: 90px 20px 0px;
            
                img{
                    width: 100%;
                }
            }
        
        
            .cards_exports_infotext5{
                @include title();
                text-align: center;
                margin: 50px 0 60px;
            }
            .cards_exports_formte{
                font-family: $f2;
                font-weight: $w1;
                font-size: $h4;
                color: $color_black;
                text-align: center;
                line-height: 23px;
                padding: 0 10px;
                span{
                    color: $color_gold;
                }
            }
        
         
        
            .cards_exports_fromexpo{
                max-width: 800px;
                margin: auto;
                margin-top: 50px;
                margin-bottom: 100px;
                padding: 0 15px;
        
                .cards_exports_fromQ1{
                    margin-bottom: 30px;
        
                    &:nth-child(10){
                        padding-bottom: 60px;
                    }
        
                    .cards_exports_formname{
                        @include subtitle_black();
                    }
                    .cards_exports_forminput{
                        @include content_text();
                        width: 100%;
                        height: 40px;
                        border-radius: 10px;
                        border: none;
                        font-size: 16px;
                    }
        
                    select{
                        @include content_text();
                        width: 100%;
                        height: 60px;
                        border-radius: 10px;
                        border: none;
                        font-size: 20px;
                        cursor: pointer;
                    }
                }
        
                .cards_exports_submit{
                    margin-left: 50%;
                    transform: translateX(-50%);
                }
                .cards_exports_down{
                    display: block;
                    padding-bottom: 50px;
                }
            }
        }
        
    }
// ====================================================以上輸出===========================

    .cards_skin_bottom_ic{
        width: 90%;
        margin: 15px auto;
        display: flex;
        justify-content: space-between;
        
        a{
            text-decoration: none;
            cursor: pointer;

            div{
                display: flex;
                align-items: center;
    
                p{
                    white-space: nowrap;
                    @include content_text();
                    padding-left: 5px;
                    
                }
            }
        }

    }
}