.cards_demo_aside {
    width: 365px;
    height: 100vh;
    background-color: $color_rice;
    overflow: auto;
    position: fixed;
    box-shadow: 0px 0px 29px rgba($color: #000, $alpha: .25);

    @media (max-width: 1000px){
        margin-top: 50vh;
        height: 50%;
        position: absolute;
        width: 100%;

    }
}


.cards_demo_aside_logo {
    padding: 20px;
    margin-bottom: 30px;


}

.cards_demo_aside_logo a img {
    width: 85px;
}




// ====================選欄列=======================

.cards_demo_accordion {
    margin: 15px auto;
    width: 85%;
    height: 50px;
    // background-color: #bcbcbc;
    border-bottom: 1px solid $color_red;

    padding: 0 10px;
    position: relative;
    cursor: pointer;
    transition: 0.2s ease-out;

    @include subtitle();
    line-height: 50px;


    &:hover {
        background-color: rgba($color: $color_red_unclick, $alpha: .4);
        // color:$color_gold;
    }

    &:after {
        background-image: url('../images/icons/down.svg');
        position: absolute;
        width: 25px;
        height: 25px;
        right: 5px;
        top: 13px;
        content: "";
    }
}

.cards_demo_active::after {
    background-image: url('../images/icons/up.svg');
    position: absolute;
    width: 25px;
    height: 25px;
    right: 5px;
    top: 13px;
    content: "";
}


.cards_demo_panel {
    max-height: 0;
    overflow: hidden;
    transition: 0.2s ease-out;
    display: flex;
    flex-wrap: wrap;
    width: 75%;
    margin: auto;
    // justify-content: space-between;

    .cards_demo_panel_img {
        list-style: none;
        margin-right: 15px;
        margin-bottom: 15px;
        cursor: pointer;
        border: 1px solid transparent;

        width: 100px;
        height: 48px;
        
        &:hover{
            border: 1px solid $color_gold;
            // box-shadow: 0px 0px 10px $color_gold;
        }
        
        img{
            width: 100%;
        }
    }

    .cards_demo_panel_color{
        list-style: none;
        margin-right: 15px;
        margin-bottom: 15px;
        width: 40px;
        height: 40px;
        border-radius: 50%;
        cursor: pointer;

        &:hover{
            border:1px solid $color_gold;
            
        }
    }

    .cards_demo_panel_font{
        list-style: none;
        margin-right: 15px;
        margin-bottom: 25px;
        font-size: 18px;
        width: 100%;
        cursor: pointer;
        border-bottom: 0.5px solid rgba($color: $color_red_unclick, $alpha: 1);

        // &:nth-child(1){
        //     font-family: 'Oswald', sans-serif;
        // };
        // &:nth-child(2){
        //     font-family: 'Vujahday Script', cursive;
        // };
        // &:nth-child(3){
        //     font-family: 'Qwitcher Grypen', cursive;
        // };

        &:hover{
        border-bottom: 0.5px solid rgba($color: $color_gold, $alpha: 1);
            
        }
    }
}





// =========================右側那些===========================


.cards_demo_main {
    margin-left: 365px;
    

    @media (max-width: 1000px){
        margin-left: 0px;
        height: 50%;
        position: relative;
        top: 8px;

    }


    .cards_demo_main_webcontrol {
        text-align: center;

        @media (max-width:1000px){
            display: none;
        }

        img {
            margin: 30px;
        }
    }


    .cards_demo_btn {
        text-align: center;
        margin-top: 30px;

        @media (max-width:1000px){
            margin-top:10px
        }
    }
}



.cards_exports_newout {
    //====================這個是輸出框====================================
    width: 80%;
    height: 75vh;
    overflow: auto;
    margin: auto;
    box-shadow: 0px 0px 30px rgba($color: $color_red, $alpha: .1);
    position: relative;
    background-color:white;
    z-index: 0;

    @media (max-width: 1000px){
        height: 40vh;
        width: 95%;
    }

    // =================================================我是輸出=======================================

    .cards_exports_titlebg{
        max-width: 1440px;
        // height: 710px;
    
        // background:url("../images/cards/cards_exports_01_00.jpg") no-repeat;
        // background-size: cover;
        // background-size:100% auto ;
    
        
        margin: auto;
        position: relative;
    
        .cards_exports_title{
            text-align: center;
            padding-top: 70px;
            @include title_m();
            line-height: 40px;
    
        }
    
    
        .cards_exports_atop{
            display: flex;
            justify-content: center;
            margin: 50px auto 32px;
    
                
            a{
                text-decoration: none;
                @include content_text_red();
                // display: flex;
                margin:15px 25px;
                color:$color_black;
    
    
                &:hover{
                    color:$color_red;
                }
    
                @include m{
                    margin:5px 15px;
                }
            }
        }
        .cards_exports_img01{
            max-width: 660px;
            width: 60%;
            margin: auto;
    
            @include m{
                width: 90%;
            }
    
            img{
                width: 100%;
            }
        }
        .cards_exports_imgbg{
            img{
                width: 100%;
                position: absolute;
                top: 0;
                left: 0;
                margin: auto;
                z-index: -1;
    
                @include m{
                    position: absolute;
                    top: 0;
                    left: 0;
                }
            }
        }
    }
    
    .cards_exports_dtext{
        text-align: center;
        @include content_text();
        font-weight: bold;
        margin-top: 20px;
        letter-spacing: 1px;
    }
    
    
    
    .cards_exports_time{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
    
    
        .cards_exports_time_01{
            @include title_m() ;
    
            line-height:50px;
            margin-top: 25px;
        }
    
        .cards_exports_time_02{
            font-family: $f1;
            font-weight: $w2;
            font-size: $h3;
            color: $color_red;
            margin-top: 15px;
        }
    
        .cards_exports_time_03{
            font-family: $f2;
            font-weight: $w1;
            font-size: $h4;
            color: $color_black;
            margin-top: 15px;
            background: url(../images/icons/calendar.svg)  no-repeat;
            padding-left: 30px;
            line-height: 25px;
        }
    
        .cards_exports_time_04{
            font-family: $f2;
            font-weight: $w2;
            font-size: $h3;
            color: $color_black;
            margin-top: 15px;
        }
    
    
    }
    
    
    .cards_exports_infoimg{
        max-width: 660px;
        margin: 80px auto 60px;
        width: 60%;
    
        @include m{
            width: 90%;
        }
    
        img{
            width: 100%;
        }
    }
    
    .cards_exports_infotext{
        @include title();
        text-align: center;
        margin: 60px 0;
    }
    
    
    .cards_exports_infooutbox{
        display: flex;
        justify-content: center;
    
        @media (max-width: 1220px) {
            flex-direction: column;
            align-items: center;
        }
    
        .cards_exports_iframeei{
            max-width: 490px;
            iframe{
    
                @include m{
                    
                    width: 360px;
                }
            }
        }
        
        .cards_exports_infobox{
            display: flex;
            flex-direction: column;
            justify-content: center;
    
            @media (max-width: 1220px) {
            margin-top: 40px;
            }
            
        
            .cards_exports_infomap{
                font-family: $f2;
                font-weight: $w2;
                font-size: $h3;
                color: $color_black;
                margin-left: 50px;
                margin-bottom: 35px;
                
                &:nth-child(1){
                    background: url('../images/icons/cards_exports_Bell.svg') no-repeat;
                    padding-left: 40px;
                }            
                &:nth-child(2){
                    background: url('../images/icons/cards_exports_drink.svg') no-repeat;
                    padding-left: 40px;
                }            
                &:nth-child(3){
                    background: url('../images/icons/cards_exports_house.svg') no-repeat;
                    padding-left: 40px;
                }            
    
                p{
                    @include content_text();
                    line-height: 17px;
                    margin-top: 5px;
    
                    
                }
            }
        }
    }
    
    .cards_exports_infoimg3{
        max-width: 660px;
        margin: 130px auto 30px;
        width: 60%;
    
        @include m{
            width: 90%;
            margin: 50px auto 30px;
        }
    
        img{
            width: 100%;
        }
    }
    
    .cards_exports_infotext3{
        @include title();
        text-align: center;
        margin: 40px 0 25px;
    }
    
    .cards_exports_story{
        @include content_text();
        text-align: center;
        line-height: 26px;
        letter-spacing: 1px;
        width: 60%;
        margin: auto ;
    
        @include m{
            width: 90%;
        }
    }
    
    .cards_exports_infotext4{
        @include title();
        text-align: center;
        margin: 100px 0 10px;
    
    }
    
    .cards_exports_ontime{
        display: flex;
        justify-content: center;
        margin-bottom: 120px;
        
        .cards_exports_ontime1{
            margin: 15px 20px;
            font-family: $f2;
            font-weight: $w1;
            font-size: $h4;
            color: $color_black;
    
            @include m{
                margin: 7px 10px;
            }
    
            span{
                font-family: $f1;
                font-weight: $w2;
                font-size: $h1;
                color: $color_gold;
            }
        }
    }
    
    .cards_exports_frombg{
        background-color: $color_rice;
        max-width: 1000px;
        width: 60%;
        margin: auto;
    
        @include m{
            width: 90%;
        }
        .cards_exports_infoimg4{
            max-width: 660px;
            margin: 0px auto 0px;
            padding: 90px 20px 0px;
        
            img{
                width: 100%;
            }
        }
    
    
        .cards_exports_infotext5{
            @include title();
            text-align: center;
            margin: 50px 0 60px;
        }
        .cards_exports_formte{
            font-family: $f2;
            font-weight: $w1;
            font-size: $h4;
            color: $color_black;
            text-align: center;
            line-height: 23px;
            padding: 0 10px;
            span{
                color: $color_gold;
            }
        }
    
     
    
        .cards_exports_fromexpo{
            max-width: 800px;
            margin: auto;
            margin-top: 50px;
            margin-bottom: 100px;
            padding: 0 15px;
    
            .cards_exports_fromQ1{
                margin-bottom: 30px;
    
                &:nth-child(10){
                    padding-bottom: 60px;
                }
    
                .cards_exports_formname{
                    @include subtitle_black();
                }
                .cards_exports_forminput{
                    @include content_text();
                    width: 100%;
                    height: 40px;
                    border-radius: 10px;
                    border: none;
                    font-size: 16px;
                }
    
                select{
                    @include content_text();
                    width: 100%;
                    height: 60px;
                    border-radius: 10px;
                    border: none;
                    font-size: 20px;
                    cursor: pointer;
                }
            }
    
            .cards_exports_submit{
                margin-left: 50%;
                transform: translateX(-50%);
            }
            .cards_exports_down{
                display: block;
                padding-bottom: 50px;
            }
        }
    }
    
}