* {
  margin: 0;
  padding: 0;
}
.yellow {
  background-color: $color_rice;
}

.gift_wrap {
  max-width: 1440px;
  margin: 0 auto;
  padding-top: 80px;
}
.banner {
  display: flex;
  justify-content: center;
  height: 453px;
  align-items: center;
  background-color: $color_rice;
  position: relative;
  //m
  @include m {
    height: 284px;
  }
}

.banner .left,
.banner .right {
  position: absolute;
  z-index: 2;
  // m
  @include m {
    display: none;
  }
}
.banner .left {
  top: 0;
  left: 0;
  max-width: 40%;
}
.banner .right {
  bottom: 0;
  right: 10px;
  max-width: 30%;
}

.gift_wrap .banner img {
  max-width: 100%;
}
.banner .middle .text {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: $color_red;
  font-family: $f1;
  position: relative;
}
.banner .middle .text h1 {
  font-size: 36px;
  text-align: center;
  vertical-align: middle;
  line-height: 1.8em;
  z-index: 1;

  //m
  @include m {
    font-size: 34px;
  }
}
.banner .middle .text .line01 {
  position: absolute;
  z-index: 0;
  top: 2.7em;
  content: " ";
  width: 300px;
  height: 0.7em;
  background-color: rgba(208, 167, 167, 0.5);
  //m
  @include m {
    top: 2.5em;
  }
}

.banner .middle .text .line02 {
  position: absolute;
  z-index: 0;
  top: 6.7em;
  content: " ";
  width: 230px;
  height: 0.7em;
  background-color: rgba(208, 167, 167, 0.5);
  @include m {
    top: 6.4em;
  }
}

.banner .middle .text h2 {
  color: $color_gold;
  font-size: 24px;
  margin-top: 1em;
  z-index: 40;
  //m
  @include m {
    text-align: center;
    vertical-align: middle;
    font-size: 16px;
  }
}

.animation {
  background-color: $color_rice;
  height: 500px;
  display: flex;
  flex-direction: column;
  margin-top: -4em;
  justify-content: center;
  position: relative;
  overflow: hidden;
  @include m {
    justify-content: flex-start;
    margin-top: 0.5em;
    height: 330px;
  }
}

.animation .gif:nth-child(1) {
  position: absolute;
  top: 0;
  right: 0;
  animation: marquee01 12s linear infinite;
  z-index: 1;
}

.animation .gif:nth-child(2) {
  position: absolute;
  top: 0;
  right: 0;
  animation: marquee02 14s linear infinite;
  z-index: 1;
}

.animation .gif:nth-child(3) {
  position: absolute;
  top: 0;
  right: 0;
  animation: marquee03 16s linear infinite;
  z-index: 1;
}

.animation .gif:nth-child(4) {
  position: absolute;
  top: 0;
  right: 0;
  animation: marquee04 18s linear infinite;
  z-index: 1;
}

.animation .gif:nth-child(5) {
  position: absolute;
  top: 0;
  right: 0;
  animation: marquee05 20s linear infinite;
  z-index: 1;
}

.animation .gif:nth-child(6) {
  position: absolute;
  top: 0;
  right: 0;
  animation: marquee06 22s linear infinite;
  z-index: 1;
}
.animation .gif img {
  transform: scale(0.8);
  //m
  @include m {
    transform: scale(0.4);
    margin-top: -6em;
  }
}

@keyframes marquee01 {
  0% {
    transform: translate(12vw, 12em);
  }

  100% {
    transform: translate(-150vw, 16em);
  }
}

@keyframes marquee02 {
  0% {
    transform: translate(27vw, 16em);
  }

  100% {
    transform: translate(-150vw, 6em);
  }
}

@keyframes marquee03 {
  0% {
    transform: translate(45vw, 7em);
  }

  100% {
    transform: translate(-150vw, 12em);
  }
}

@keyframes marquee04 {
  0% {
    transform: translate(60vw, 7em);
  }

  100% {
    transform: translate(-150vw, 32em);
  }
}

@keyframes marquee05 {
  0% {
    transform: translate(80vw, 12em);
  }

  100% {
    transform: translate(-150vw, 34em);
  }
}

@keyframes marquee06 {
  0% {
    transform: translate(110vw, 16em);
  }

  100% {
    transform: translate(-150vw, 12em);
  }
}

.animation .text_top {
  // display: table-cell;
  text-align: center;
  vertical-align: middle;
  color: $color_red;
  font-size: 18px;
  line-height: 2em;
  z-index: 50;

  @include m {
    font-size: 16px;
  }
}

.animation .text_bottom {
  // display: table-cell;
  margin-top: 0.7em;
  text-align: center;
  color: #fff;
  font-size: 72px;
  font-family: $f1;
  letter-spacing: 0.7em;
  text-indent: 0.7em;
  -webkit-text-stroke: 3px #fff;
  z-index: 80;
  //m
  @include m {
    letter-spacing: 0.27em;
    text-indent: 0.27em;
    margin-top: 0.2em;
    font-size: 70px;
  }
}

// ----------------------------------item_wrap-----------------------------------
.item_wrap .top {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: -4em;
  position: relative;
  z-index: 80;
  margin-bottom: 4em;

  //m
  @include m {
    margin-top: -2em;
  }
}

.item_wrap .top a {
  height: min(9vw, 136px);
  width: min(9vw, 136px);
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #fff;
  font-size: 18px;
  color: rgba(147, 38, 57, 1);
  border: 2px solid rgba(147, 38, 57, 1);
  border-radius: 50%;
  margin: 0 2vw;
  text-decoration: none;
  //t
  @media (min-width: 576px) and (max-width: 1199.98px) {
    width: 15vw;
    height: 15vw;
  }
  //m
  @media (max-width: 575.98px) {
    width: 78px;
    height: 78px;
    margin: 0 0.5vw;
  }
}

.item_wrap .top .tab.-on {
  background-color: rgba(147, 38, 57, 1);
  color: #fff;
}

.item_wrap .top a:nth-child(2) .text {
  text-align: center;
  //m
}
.item_wrap .top a .text {
  @include m {
    font-size: 16px;
    padding: 0 14px;
    display: flex;
    text-align: center;
  }
}
.item_wrap {
  padding: 0 7.5vw;
  margin-bottom: 3.5vw;
}

.item_wrap .top a:hover {
  background-color: rgba(147, 38, 57, 1);
  color: #fff;
}
.item_wrap .gifts {
  // display: flex;
  justify-content: center;
  flex-wrap: wrap;
  display: none;
}

.item_wrap .gifts.-on {
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
}

.item_wrap .gifts a {
  text-decoration: none;
  color: #333333;
}

.item_wrap .gifts > .gift {
  width: 23%;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 2.2vw 0.7vw;

  //ipad
  @media (min-width: 576px) and (max-width: 1199.98px) {
    width: 31%;
  }

  //m
  @include m {
    width: 48%;
  }
}

.item_wrap .gifts .gift .photo {
  position: relative;
}
.item_wrap .gifts img {
  max-width: 100%;
  border-radius: 3px;
  filter: drop-shadow(2px 2px 6px rgba(0, 0, 0, 0.15));
}

.item_wrap .gifts .gift .text {
  margin-top: 1em;
  text-align: center;
  font-size: 14px;
  line-height: 1.4em;
}

.item_wrap .gifts .gift .icon {
  position: absolute;
  bottom: 0px;
  // border: solid 1px #000;
  width: 100%;
  height: 2em;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 0.6s;
}

.item_wrap .gifts .gift .icon img {
  display: none;

  @include m {
    display: block;
    transform: scale(0.75);
  }
}
.item_wrap .gifts .gift:hover .icon {
  background-color: rgba(255, 255, 255, 0.7);
  //m
}

@include m {
  .item_wrap .gifts .gift .icon {
    background-color: rgba(255, 255, 255, 0);
  }
  .item_wrap .gifts .gift .icon {
    position: absolute;
    bottom: 0.4em;
    right: 0.2em;
    width: 30px;
    height: 30px;
    background-color: rgba(255, 255, 255, 0.8);
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

.item_wrap .gifts .gift:hover .icon img {
  display: block;
}
.item_wrap .gifts .gift .icon .addButton {
  @include m {
  }
}
.item_wrap .gifts .gift .icon .addButton {
  cursor: pointer;
}

// .cart_success {
//   position: fixed;
//   top: 15%;
//   left: 0;
//   right: 0;
//   margin: auto;
//   z-index: 100000;
//   width: 10em;
//   height: 4em;
//   background-color: $color_gold;
//   color: #fff;
//   border-radius: 5px;
//   display: none;
//   justify-content: center;
//   align-items: center;
//   opacity: 1;
//   animation: fadein 5s ease-in-out;
// }
// .cart_successN {
//   position: fixed;
//   top: 15%;
//   left: 0;
//   right: 0;
//   margin: auto;
//   z-index: 100000;
//   width: 10em;
//   height: 4em;
//   background-color: $color_gold;
//   color: #fff;
//   border-radius: 5px;
//   display: none;
//   justify-content: center;
//   align-items: center;
//   opacity: 1;
//   animation: fadein 5s linear;
//   animation-duration: 4s;
// }

// @keyframes fadein {
//   0% {
//     opacity: 1;
//   }
//   25% {
//     opacity: 0;
//   }
//   50% {
//     opacity: 0;
//   }
//   75% {
//     opacity: 1;
//   }
// }

// .icon-container {
//   position: absolute;
//   top: 0;
//   left: 0;
//   right: 0;
//   bottom: 0;
//   z-index: 10;
//   padding: 30px 20px 0;
//   color: #ef8a8b;
//   font-size: 20px;
//   text-align: center;
//   background: rgba(255, 255, 255, 0.8);
//   opacity: 0;
//   pointer-events: none;
//   transition: opacity 0.3s;

//   .circle,
//   .check {
//     fill: none;
//     stroke: #ef8a8b;
//     stroke-width: 3;
//   }

//   .check {
//     stroke-dasharray: 80 100;
//     stroke-dashoffset: 80;
//   }

//   &.showing {
//     opacity: 1;
//     pointer-events: auto;

//     .check {
//       animation: check 0.3s cubic-bezier(0.5, 0, 0.6, 1) forwards 0.2s;
//     }
//   }
// }

// @keyframes check {
//   from {
//     stroke-dashoffset: 80;
//   }
//   to {
//     stroke-dashoffset: 0;
//   }
// }

// @keyframes circle {
//   from {
//     stroke-dashoffset: -300;
//   }
//   to {
//     stroke-dashoffset: 0;
//   }
// }
