.process01_wrap {
  padding: 0 6.5vw;
  padding-top: 100px;
  @include m {
    padding: 0;
    padding-top: 160px;
  }
  .top {
    position: relative;
    display: flex;
    justify-content: space-between;
    width: 70%;
    margin: 3vw auto;

    .line {
      position: absolute;
      content: " ";
      width: 95%;
      height: 1px;
      background-color: rgba(219, 186, 182);
      top: 1.5em;
      z-index: -1;
      left: 0;
      right: 0;
      margin: auto;
    }
    .left {
      display: flex;
      flex-direction: column;
      align-items: center;
      .circle {
        width: 50px;
        height: 50px;
        border-radius: 50%;
        background-color: $color_red;
        display: flex;
        justify-content: center;
        align-items: center;
        font-weight: bold;
        color: #fff;
      }

      .text {
        font-size: $h4;
        color: $color_red;
        margin-top: 1em;
        @include m {
          font-size: $moblie_h4;
        }
      }
    }
    .middle {
      display: flex;
      flex-direction: column;
      align-items: center;
      .circle {
        width: 50px;
        height: 50px;
        border-radius: 50%;
        background-color: rgba(219, 186, 182);
        display: flex;
        justify-content: center;
        align-items: center;
        font-weight: bold;
        color: #fff;
      }

      .text {
        font-size: $h4;
        color: rgba(219, 186, 182);
        margin-top: 1em;
        @include m {
          font-size: $moblie_h4;
        }
      }
    }
    .right {
      display: flex;
      flex-direction: column;
      align-items: center;
      .circle {
        width: 50px;
        height: 50px;
        border-radius: 50%;
        background-color: rgba(219, 186, 182);
        display: flex;
        justify-content: center;
        align-items: center;
        font-weight: bold;
        color: #fff;
      }

      .text {
        font-size: $h4;
        color: rgba(219, 186, 182);
        margin-top: 1em;
        @include m {
          font-size: $moblie_h4;
        }
      }
    }
  }
}

//bottom left

.process01_wrap {
  .bottom {
    display: flex;
    padding: 0 7.5vw;
    margin-bottom: 5vw;
    font-size: $h4;
    justify-content: center;
    @include ipad {
      flex-direction: column;
      align-items: center;
    }
    @include m {
      flex-direction: column;
      align-items: center;
      padding: 0 5vw;
      font-size: $moblie_h4;
    }
    .left {
      border: 1px solid $color_red;
      width: 400px;
      padding: 2em 3.5em;
      margin-right: 1.5em;
      @include ipad {
        margin-right: 0;
        width: 100%;
        margin-bottom: 4vw;
      }
      @include m {
        margin-right: 0;
        width: 100%;
        margin-bottom: 4vw;
      }
      .content_top {
        .p {
          margin-bottom: 1.5em;
          display: flex;

          .key {
          }
          .value {
            margin-left: 37%;
          }
          button {
            // color: #fff;
            // background-color: $color_red;
            // border: none;
            // padding: 0.3em 1.5em;
            // border-radius: 3px;
            // cursor: pointer;
            width: 6em;
            height: 2em;
            line-height: 2em;
          }
        }
        .p:nth-child(4) {
          margin-top: 2.5em;
        }
      }
      .line1 {
        border: none;
        height: 1px;
        background-image: linear-gradient(
          to right,
          #000000 0%,
          #000000 50%,
          transparent 0%
        );
        background-size: 10px 1px;
        background-repeat: repeat-x;
      }
      .content_bottom {
        .p {
          margin-top: 1.5em;
          display: flex;

          .key {
          }
          .value {
            margin-left: 20%;
          }
        }

        .p:nth-child(2) {
          color: rgb(255, 0, 0);
          font-weight: bold;
        }
      }
    }

    .right {
      width: 500px;
      border: 1px solid $color_red;
      margin-left: 1.5em;
      @include ipad {
        margin-left: 0;
        width: 100%;
      }
      @include m {
        margin-left: 0;
        width: 100%;
      }
    }
  }
}

//right
.process01_wrap {
  .bottom {
    .right {
      font-size: $h4;
      padding: 0 2.5em 2.5em 2.5em;
      @include m {
        font-size: $moblie_h4;
      }
      h2 {
        font-size: $h3;
        margin-top: 1.5em;
        @include m {
          font-size: $moblie_h3;
        }
      }

      .sp {
        margin-top: 1em;
        display: flex;

        .key {
        }
        .value {
          line-height: 1.6em;
        }
      }

      .p {
        display: flex;
        margin-top: 1em;

        .key {
        }
        .value {
          line-height: 1.6em;
        }
      }

      .show {
        margin: 1em auto;
        padding-left: 1.2em;
        input {
          border: none;
          border-bottom: 1px solid $color_black;
        }
        .name {
        }
        .area {
          margin: 1em 0;
        }
      }

      .bbutton {
        // background-color: $color_red;
        // color: #fff;
        // border: none;
        // padding: 0.5em 1em;
        // border-radius: 3px;
        // margin-top: 2em;
        // margin-left: 50%;
        // transform: translateX(-50%);
        margin-top: 2em;
        a {
          // color: #fff;
          // width: 100%;
          // height: 100%;
          // display: inline-block;
          margin-left: 50%;
          transform: translateX(-50%);
          width: 6em;
          height: 2em;
          line-height: 2em;
          font-size: $h4;
        }
      }
    }
  }
}
@include m {
  .process01_wrap .bottom .right textarea {
    width: 16em;
    height: 6em;
  }
}

.process01_wrap {
  .frame {
    border: 1px solid $color_red;
    border-radius: 3px;
    margin: 0 7.5vw;
    margin-bottom: 3vw;
    .frame_top {
      background-color: $color_red;
      display: flex;
      color: #fff;
      justify-content: space-around;
      padding: 1vw 0;

      @include m {
        display: none;
      }
      @include ipad {
        display: none;
      }
    }
    ul {
      display: flex;
      flex-direction: column;
      padding: 1% 4%;
      overflow-y: scroll;
      height: 380px;

      li {
        position: relative;
        display: flex;
        align-items: center;
        margin: 1em 0.9em 1em 0.2em;
        img {
          width: 100px;
        }

        .text {
          font-size: 14px;
          display: flex;
          align-items: center;
          margin-left: 2%;
          width: 100%;
          @include m {
            font-size: 12px;
            flex-direction: column;
            align-items: space-between;
            // margin-left: 24%;
            margin-left: 0%;
          }
          @include ipad {
            font-size: 12px;
            flex-direction: column;
            align-items: space-between;
            // margin-left: 24%;
            margin-left: 0%;
          }
          .name {
            width: 10em;
            @include m {
              margin-bottom: 1em;
            }
            @include ipad {
              margin-bottom: 1em;
            }
          }
          .PlusLower {
            margin-left: 20%;
            @include m {
              margin-left: 0%;
            }
            @include ipad {
              margin-left: 0%;
            }
          }
          .price {
            margin-left: 35%;
            @include m {
              margin-top: 1em;
              margin-left: 0%;
            }
            @include ipad {
              margin-top: 1em;
              margin-left: 0%;
            }
          }
        }
        .itemdeletee {
          display: flex;
          justify-content: flex-end;
          margin-right: 0em;
          cursor: pointer;
          .deletee {
            width: 24px;
          }
        }
      }
      li::after {
        width: 100%;
        height: 1px;
        background-image: linear-gradient(
          to left,
          #c5c5c5 0%,
          rgb(207, 207, 207) 50%,
          transparent 50%
        ); /** toleft横向 to bottom纵向**/
        background-size: 8px 1px;
        background-repeat: repeat-x; /** x轴上的渐变 横向的虚线 **/
        position: absolute;
        content: "";
        bottom: -1em;
      }
    }
  }
}
