.page_number {
  display: flex;
  justify-content: center;
  margin-bottom: 6.5vw;
}

.page_number ul {
  padding: 0;
}

.page_number ul.pagination {
  display: flex;
}

.page_number ul.pagination a {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 5px;
  border: 1px solid #932639;
  background-color: #fff;
  width: 34px;
  height: 34px;
  border-radius: 50%;
  text-decoration: none;
}

.page_number ul.pagination a:hover {
  border: 1px solid #932639;
  background-color: #932639;
}

.page_number ul.pagination a:hover li {
  color: #fff;
}
.page_number ul.pagination a:hover li svg {
  color: #fff;
}
.page_number svg {
  color: #932639;
  padding-top: 0.2em;
}
.page_number ul.pagination li {
  color: #932639;
  font-size: 14px;
  list-style: none;
}

.page_number ul.pagination a:nth-child(2) {
  border: 1px solid #932639;
  background-color: #932639;
  color: #fff;
}

.page_number ul.pagination a:nth-child(2) li {
  color: #fff;
}
