<!DOCTYPE html>
<html lang="zh-Hant">

<head>
  @@include('./layout/meta.html', {
  "title" : "後台 - 會員管理"
  })

</head>

<body>
  <div class="erh_backend_wrap">


    <div class="backend_headertextone"> <img src="./images/logo_white.png" alt="">
      <div class="text">Cupid後臺管理</div>
    </div>
    <a href="#">
      <div class="backend_logoutone"><span>登出</span>
        <a><img src="./images/icons/log_out.svg"></a>
      </div>
    </a>

    <div class="backend_topfive">

      <a href="./backend_member.html">
        <div class="boxfive">

          <h1>會員管理</h1>
          <ul>
            <li>-會員資料</li>
            <li>-帳號狀態</li>
          </ul>
        </div>
      </a>

      <a href="./backend_order.html">
        <div class="boxfive">

          <h1>訂單管理</h1>
          <ul>
            <li>-訂單總覽</li>
            <li>-訂單狀態</li>
          </ul>
        </div>
      </a>

      <a href="./backend_product.html">
        <div class="boxfive">

          <h1>商品管理</h1>
          <ul>
            <li>-商品管理</li>
            <li>-商品上/下架</li>
          </ul>
        </div>

      </a>

      <a href="./backend_card.html">
        <div class="boxfive">

          <h1>客製喜帖管理</h1>
          <ul>
            <li>-模板管理</li>
            <li>-字型管理</li>
          </ul>
        </div>
      </a>

      <a href="./backend_qa.html">
        <div class="boxfive">

          <h1>常見問題</h1>
          <ul>
            <li>-新增/刪除FAQ</li>
            <li>-修改FAQ</li>
          </ul>
        </div>
      </a>
    </div>



    <!-- </input> -->
    <!-- 春 -->
    <div id="app">

      <main class="n-faq_main">

        <div class="n-faq_right">
          <form action="" method="get" id="" class="n-qaform">

            <div class="n-faq_faqbtn">
              <div><button class="n-faq_add" @click='new_add()' type="button">新增</button></div>
              <div><input class="backend_searchfive" placeholder="請輸入 編號/問題"></div>
            </div>
            <!-- <section>
                        <input type="text" name="search" id="search" placeholder="以問題編號查詢" v-model='faq_number'>    
                        
                    </section> -->
          </form>

          <div class="n-faq_qadiv">
            <ul class="n-faq_title">
              <li v-for='title in titles'>{{title}}</li>
              <!-- <li></li> -->
            </ul>

            <ul v-for='(faq,key) in faqs' class="n-faq_faq">
              <li style="text-align: center;">{{faq.commonqa_ID}}</li>
              <li>{{faq.commonqa_catalogue}}</li>
              <li>{{faq.commonqa_question}}</li>
              <li>{{faq.commonqa_answer}}</li>
              <li @click='edit(key)'>編輯與查看</li>
            </ul>
          </div>
        </div>
      </main>

      <div class="n-faq_footer">
        <ul>
          <li v-for='page in pages' v-on:click='showQdata(page.link)' v-bind:class='{nowpagela:page.page == nowpage}'>
            {{page.page}}</li>
        </ul>
      </div>

      <div class="n-faq_edit" v-if='current_edit !== null'>
        <!-- <div class="n-faq_edit" v-if='true'> -->

        <p>編輯與查看</p>

        <ul>
          <li>
            問題分類:
            <select name="status" id="" v-model='f_sort'>
              <option value="交易相關">交易相關</option>
              <option value="電子喜帖相關">電子喜帖相關</option>
              <option value="運送相關">運送相關</option>
            </select>

          </li>

          <li>
            <label for="">&emsp;&emsp;問題:</label>
            <input type="text" v-model='f_question'>
          </li>


          <li>
            <label for="">&emsp;&emsp;回答:</label>
            <textarea name="" id="" cols="75" rows="8" v-model='f_answer'></textarea>
          </li>
        </ul>


        <div class="n-faq_editbtn">
          <button class="n-faq_close" @click='f_close'>關閉</button>
          <button class="n-faq_save" @click='f_save'>儲存</button>
        </div>

      </div>

      <div id="hide" v-if='current_edit !== null'></div>

      <faq-add v-if='new_edit' @fclose='closefff' @fsave='savefff'></faq-add>
      <double-check v-if='dbcheck' @save='sss' @cancel='ccc'></double-check>

    </div>
  </div >


  <script src="./js/vue.js"></script>
  <!-- <script src="./js/back_qa.js"></script> -->
  <script>
    // var my_back = localStorage.getItem("n-login");
// if(my_back !== 'yes'){
//     location.href = "./n-login.html"
// }

Vue.component('double-check', {            
    template: 
        ` 
        <div class="dbc">
            <section></section>
            <p>尚未存檔，是否確認關閉</p>
            <div>
                <button type="button" @click='cancel'>取消</button>
                <button type="button" @click='sure'>確認</button>
            </div>
        </div>                
        `
    ,
    methods:{
        sure(){
            this.$emit('save')
        },
        cancel(){
            this.$emit('cancel')
        }
    },
});



Vue.component('faq-add', {
    data(){
        return{  //組件的變數寫在這裡
            f_sort:'',
            f_answer: '',
            f_question: '',
        };
    },
    
    template: `
        <div>
            <div class="n-faq_edit">

                <p>新增Q&A</p>            
            
                <ul>                    
                    <li>
                        問題分類:
                        <select name="status" id="" v-model='f_sort'>
                            <option value="交易相關">交易相關</option>
                            <option value="電子喜帖相關">電子喜帖相關</option>
                            <option value="運送相關">運送相關</option>
                        </select>
                        
                    </li>                    

                    <li>
                        <label for="">&emsp;&emsp;問題:</label>
                        <input type="text" v-model='f_question'>
                    </li>

                    
                    <li>
                        <label for="">&emsp;&emsp;回答:</label>
                        <textarea name="" id="" cols="65" rows="8" v-model='f_answer'></textarea>
                    </li>
                </ul>
                

                <div class="n-faq_editbtn">
                    <button class="n-faq_close" @click='f_close'>關閉</button>
                    <button class="n-faq_save" @click='f_save'>儲存</button>
                </div>

            </div>
            <div id="hide"></div>
        </div>

    `,
    methods:{
        f_close(){ 
            this.$emit('fclose');
        },  
        f_save(){   
            if(this.f_question==''){
                alert('請輸入問題');
            }else if(this.f_answer==''){
                alert('請輸入回答');
            }else{
                $.ajax({
                    method: 'POST',
                    url: './API/n-faqAdd.php',
                    data:{
                        qa_class: this.f_sort,
                        question: this.f_question,
                        answer: this.f_answer
                    },
                    dataType:'text',
                    success: function (data) {     
                        alert(data);
                        
                        window.location.reload();
                    },
                    error: function(exception) {
                        // alert("數據載入失敗: " + exception.status);
                    }
                })
                this.$emit('fsave', this.f_sort, this.f_question, this.f_answer);
            }
            
            
        },
        
    }  
});


// MARK: - 顯示api取得資料
var appVue = new Vue({
    el: '#app',
    data:{
        faq_number:'',
        f_sort_list:['交易相關', '電子喜帖相關', '運送相關'],      
        f_sort:0,
        f_question:'',
        f_answer:'',
        new_edit:false,
        dbcheck:false,
        
        // mainbtn: [
        //     {name:"會員管理", url: "./n-member.html"},
        //     {name:"訂單管理", url: "./n-order.html"},
        //     {name:"商品管理", url: "./n-product.html"},
        //     {name:"客製化商品管理", url: "./n-customized.html"},
        //     {name:"消息管理", url: "./n-news.html"},
        //     {name:"折扣碼管理", url: "./n-discount.html"},
        //     {name:"Q&A", url: "./n-faq.html"},
        // ],
        titles: ['問題編號', '問題分類', '問題', '回答', ''],
        faqs:[
            // {
            //     'qa_id':'1234567890',
            //     'qa_class':0,
            //     'question':'1新品上市新品上市新品上市新品上市新品上市',
            //     'answer':'1這就是回答',
            // },
            // {
            //     'qa_ID':'', // ID
            //     'qa_class':'', // 分類
            //     'question':'', // 問題
            //     'answer':'', // 答案
            // },
            
        ],
        pages:[
            {page:"<", url: "#"},
            {page:"1", url: "#"},
            {page:"2", url: "#"},
            {page:"3", url: "#"},
            {page:"4", url: "#"},
            {page:"5", url: "#"},
            {page:"...", url: "#"},
            {page:"20", url: "#"},
            {page:">", url: "#"},
        ],
        nowpage:1,
        current_edit:null,
    },
    created:function(){
        this.showQdata(1);
    },


    methods: {
        edit(index){                    
            this.current_edit = index;  

            this.f_sort = this.faqs[index].commonqa_catalogue;
            this.f_question = this.faqs[index].commonqa_question;
            this.f_answer = this.faqs[index].commonqa_answer;
            
        },


        f_close(){       
            this.dbcheck=true;
            let edit_z = document.querySelector('.n-faq_edit');
            edit_z.style.opacity = 0;
        },  

        sss(){
            this.current_edit = null;
            this.dbcheck=false;
            let edit_z = document.querySelector('.n-faq_edit');
            edit_z.style.opacity = 1;

            this.new_edit = false;
        },

        ccc(){
            this.dbcheck=false;
            let edit_z = document.querySelector('.n-faq_edit');
            edit_z.style.opacity = 1;
        },



        f_save(){     

            // let n_index = this.$data.current_edit;
            let n_index = parseInt(this.$data.current_edit);

            console.log(n_index);
            this.faqs[n_index].commonqa_catalogue = this.f_sort;
            this.faqs[n_index].commonqa_question = this.f_question;
            this.faqs[n_index].commonqa_answer = this.f_answer;
            this.current_edit = null;

            $.ajax({            
                method: "POST",
                url: "./API/n-FAQ_update.php",
                data:{ 
                    qa_id: n_index + 1 ,
                    // qa_id: this.qa_id , //id
                    qa_class: this.f_sort, //分類
                    question: this.f_question, // 問題
                    answer: this.f_answer, // 答案

                },            
                dataType: "text",
                success: function (response) {
                    // alert("更新成功");
                },
                error: function(exception) {
                    // alert("發生錯誤: " + exception.status);
                }
            });
        },
        new_add(){
            this.new_edit = true;
            // this.current_edit = "notnull";
        },



        closefff(){
            // this.new_edit = false;

            this.dbcheck=true;
            let edit_z = document.querySelector('.n-faq_edit');
            edit_z.style.opacity = 0;
        },



        savefff(f_sort, f_question, f_answer){
            this.new_edit = false;

            // console.log(f_sort);

            let fff = 
            {
                'qa_id':'1234567890',
                'qa_class':parseInt(f_sort),
                'question':f_question,
                'answer':f_answer,
            }

            // console.log(fff);

            this.faqs.unshift(fff);
            window.location.reload();
        },
        log_out(){
            localStorage.setItem("n-login", "no");
            location.href = "./n-login.html"
        },  
        
        showQdata(gopage){
            // console.log(gopage);
            if(isNaN(gopage)) return;
            this.nowpage = gopage;
            // 抓資料
            $.ajax({
                method: "POST",
                url: "./API/getFaqData.php",
                data:{ 
                    page : gopage,
                },            
                dataType: "json",
                success: function (response) {
                    console.log("success")
                    console.log(response[1][0].commonqa_question)
                    appVue.pages = response[0];
                    appVue.faqs = response[1];
                    console.log("api 回傳資料:", response)
                },
                error: function(exception) {
                    // alert("發生錯誤: " + exception.status);
                },
            });
        },    
        lookfor(){
            const self = this;

            $.ajax({
                method: "POST",
                url: "./API/n-selectf.php",
                data:{ 
                    search: self.faq_number
                },            
                dataType: "json",
                success: function (res) {
                    self.faqs = res
                },
                
            });
        }         
        
    },
    // computed: {
    //     faqsd: function() {
    //         var search = this.faq_number;     
    //         if (search) {
    //             return this.faqs.filter(function(product) {                   
    //                 return String (product.qa_id).toLowerCase().indexOf(search) > -1                 
    //             })                
    //         }
    //         return this.faqs;
    //     }
    // }  
    
})
  </script>
</body>

</html>