<!doctype html>
<html lang="en">
@@include('./layout/meta.html')

<head>
  @@include('./layout/meta.html')
  <title>我的喜帖 | 喜帖內容設計</title>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">

  <link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet">
  <script src="https://cdn.jsdelivr.net/npm/vue@2.6.14"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.24.0/axios.min.js"></script>
  <script>
        fetch('./API/member_data.php', {})
    .then((response) => {
        return response.json();
    }).then((jsonData) => {
        console.log(jsonData)
        //console.log("JSON:" + jsonData.member_account);
        if (jsonData.result != true) {
            alert('請先登入會員！');
            location.href = "./login.html";                
        } else {
            
        }
    }).catch((err) => {
        console.log('錯誤:登入', err);
    });
  </script>



</head>

<body class="elena" style="background-color: rgba(255, 244, 227, 1); margin: 0; padding: 0;">

  <div id="cards_info_v">


    <div class="cards_info_left_top">
      <a class="cards_left_top_a" href="./cards_dashboard.html"><img class="cards_info_icon"
          src="./images/icons/left.svg">
        <h2 class="cards_info_h2" style="margin: 0; color: #333;">婚禮資訊</h3>
    </div>
    </a>


    <ul class="nav cards_nav_pills mb-3" id="pills-tab" role="tablist">
      <li class="cards_nav_item" role="presentation">
        <button class="cards_nav_link active" id="pills-home-tab" data-bs-toggle="pill" data-bs-target="#pills-home"
          type="button" role="tab" aria-controls="pills-home" aria-selected="true"><img class="cupid1"
            src="./images/cupid1.svg">婚禮資訊</button>
      </li>
      <li class="cards_nav_item" role="presentation">
        <button class="cards_nav_link" id="pills-profile-tab" data-bs-toggle="pill" data-bs-target="#pills-profile"
          type="button" role="tab" aria-controls="pills-profile" aria-selected="false"><img class="cupid1"
            src="./images/cupid1.svg">關於我們</button>
      </li>
      <li class="cards_nav_item" role="presentation">
        <button class="cards_nav_link" id="pills-contact-tab" data-bs-toggle="pill" data-bs-target="#pills-contact"
          type="button" role="tab" aria-controls="pills-contact" aria-selected="false"><img class="cupid1"
            src="./images/cupid1.svg">表單預覽</button>
      </li>
    </ul>




    <div class="tab-content" id="pills-tabContent">
      <div class="tab-pane fade show active" id="pills-home" role="tabpanel" aria-labelledby="pills-home-tab">
        <!-- ========================================= 第一頁內容 ========================================= -->
        <div class="cards_row align-items-center">
          <div class="cards_col">

            <form class="cards_info_form_left">
              <h3 class="cards_info_h3_1">喜帖標題</h3>
              <input class="cards_info_input" type="text" placeholder="男方名 & 女方名" v-model="cards_info_title"
                name="cards_info_title" id="cards_info_title">

              <h3 class="cards_info_h3">新郎</h3>
              <div class="cards_info_boy">
                <input class="cards_info_boy_name " type="text" placeholder="名" v-model='cards_info_mansec'>
                <input class="cards_info_boy_name" type="text" placeholder="姓" v-model='cards_info_manfir'>
                <input class="cards_info_boy_name2" type="text" placeholder="英文名" v-model='cards_info_maneng'>
              </div>


              <h3 class="cards_info_h3">新娘</h3>
              <div class="cards_info_girl">
                <input class="cards_info_girl_name" type="text" placeholder="名" v-model='cards_info_womansec'>
                <input class="cards_info_girl_name" type="text" placeholder="姓" v-model='cards_info_womanfir'>
                <input class="cards_info_girl_name2" type="text" placeholder="英文名" v-model='cards_info_womaneng'>
              </div>


          </div>



          <div class="cards_col">

            <form class="cards_info_form_right">

              <h3 class="cards_info_h3">祝福的話</h3>
              <input class="cards_info_input" type="text" placeholder="寫下您的祝福心語吧！" v-model='cards_info_goodtalk'>

              <h3 class="cards_info_h3">地點</h3>
              <input class="cards_info_input" type="text" placeholder="台北市中山區南京東路三段219號5樓" v-model='cards_info_local'>

              <h3 class="cards_info_h3">婚禮日期</h3>
              <input class="cards_info_input" type="date" v-model='cards_info_marrydate'>

              <h3 class="cards_info_h3">賓客回覆截止日期</h3>
              <input class="cards_info_input cards_date_input" type="date" v-model='cards_info_marrydateend'>




          </div>

          <div class="d-md-block" style="margin-top: 50px;">
            <a><button class="btn_red" type="button" @click="doQuery">儲存</button></a>
          </div>

        </div>



      </div>
      <div class="tab-pane fade" id="pills-profile" role="tabpanel" aria-labelledby="pills-profile-tab">
        <!-- ========================================= 第二頁內容 ========================================= -->

        <div class="cards_row align-items-center2">

          <label for="exampleFormControlTextarea1" class="form-label">說說您的愛情故事<img class="ring"
              src="./images/ring.png"></label>
          <textarea class="cards_form_control" id="exampleFormControlTextarea1" rows="3"
            placeholder="告訴您的親友一些關於彼此的愛情故事！" v-model="cards_info_lovestory"></textarea>


          <img src="../images/red_couple.svg" class="red_couple" alt="">

        </div>

        <div class="d-md-block" style="margin-top: 50px;">
          <a><button class="btn_red" type="button" @click="doQuery">儲存</button></a>
        </div>

      </div>
      <div class="tab-pane fade" id="pills-contact" role="tabpanel" aria-labelledby="pills-contact-tab">
        <!-- ========================================= 第三頁內容 ========================================= -->


        <div class="row align-items-center2">


          <div class="cards_col">

            <form class="cards_info_form_right">

              <h3 class="cards_info_h3">您的大名</h3>
              <input class="cards_reply_input" type="text" placeholder="邱比特" disabled>

              <h3 class="cards_info_h3">您與新人的關係？</h3>
              <select class="pretty-select" disabled>
                <option>男方親友</option>
                <option>女方親友</option>
              </select>

              <h3 class="cards_info_h3">是否能來參加我們的婚宴？</h3>
              <select class="pretty-select" id="join_option" disabled>
                <option value="join_yes">是的，我會參加</option>
                <option value="join_no">無法參加</option>
              </select>


              <div id="join_none">
                <h3 class="cards_info_h3">攜伴人數</h3>
                <select class="pretty-select" disabled>
                  <option value="0">無需攜伴</option>
                  <option value="1">1</option>
                  <option value="2">2</option>
                  <option value="3">3</option>
                  <option value="4">4</option>
                  <option value="5">5</option>
                </select>
              </div>


              <h3 class="cards_info_h3">需要為您準備素食嗎？</h3>
              <select class="pretty-select" id="veg_option" disabled>
                <option value="veg_no">不需要</option>
                <option value="veg_yes">需要，請選擇您需要的份數</option>
              </select>

              <div id="veg_none">
                <h3 class="cards_info_h3">總共要為您準備幾份素食？</h3>
                <select class="pretty-select" disabled>
                  <option>1</option>
                  <option>2</option>
                  <option>3</option>
                  <option>4</option>
                  <option>5</option>
                  <option>6</option>
                </select>
              </div>


              <h3 class="cards_info_h3">您需要我們寄送紙本喜帖給您嗎？</h3>
              <select class="pretty-select" id="address_option" disabled>
                <option value="address_no">不需要</option>
                <option value="address_yes">需要</option>
              </select>

              <div id="address_none">
                <h3 class="cards_info_h3">寄送地址</h3>
                <input class="cards_reply_input" disabled type="text" placeholder="**縣市**區**路**段**巷**弄**號**樓">
              </div>

              <h3 class="cards_info_h3">手機號碼</h3>
              <input class="cards_reply_input" disabled type="text" placeholder="0912345678">

              <h3 class="cards_info_h3">E-mail</h3>
              <input class="cards_reply_input" disabled type="text" placeholder="wearecupid@gmail.com">

              <h3 class="cards_info_h3">備註</h3>
              <textarea class="cards_form_control2" id="exampleFormControlTextarea1" rows="3"
                placeholder="告訴您的親友一些關於彼此的愛情故事!" style="backgroundColor: #FFF ;" disabled></textarea>







          </div>
          <div class="d-grid gap-2 d-md-block" style="margin-top: 50px; ">
            <a href="./cards_dashboard.html" style="display: none"><button class="btn_red" type="button">儲存</button></a>
          </div>
        </div>


        </form>

      </div>






      <script>
        // ================ 要參加/攜伴人數 ================
        const mySelect1 = document.getElementById('join_option');
        const resultA = document.getElementById('join_none');
        mySelect1.addEventListener('change', (e) => {
          switch (e.target.value) {
            case 'join_yes': {
              resultA.style.display = 'block';
              break;
            }

            default: {
              resultA.style.display = 'none';
              break;
            }
          }
        });

        // ================ 需要素食 ================
        const mySelect2 = document.getElementById('veg_option');
        const resultB = document.getElementById('veg_none');
        mySelect2.addEventListener('change', (e) => {
          switch (e.target.value) {
            case 'veg_yes': {
              resultB.style.display = 'block';
              break;
            }

            default: {
              resultB.style.display = 'none';
              break;
            }
          }
        });

        // ================ 需要寄送喜帖 ================
        const mySelect3 = document.getElementById('address_option');
        const resultC = document.getElementById('address_none');
        mySelect3.addEventListener('change', (e) => {
          switch (e.target.value) {
            case 'address_yes': {
              resultC.style.display = 'block';
              break;
            }

            default: {
              resultC.style.display = 'none';
              break;
            }
          }
        });


      </script>


      <!-- Option 1: Bootstrap Bundle with Popper -->
      <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous">
        </script>
      <script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
      <script>
        AOS.init();
      </script>

      <!-- ===============================VUE===================================== -->
      <script>
        let ss = new Vue({
          el: '#cards_info_v',
          data: {
            cards_info_title: '',
            cards_info_mansec: '',
            cards_info_manfir: '',
            cards_info_maneng: '',
            cards_info_womansec: '',
            cards_info_womanfir: '',
            cards_info_womaneng: '',
            cards_info_goodtalk: '',
            cards_info_local: '',
            cards_info_marrydate: '',
            cards_info_marrydateend: '',

            cards_info_lovestory: '',

          },
          methods: {
            // cards_infoupload() {
            //   // php預設不支援json格式 所以先轉成formData格式
            //   let formData  = new FormData();
            //   formData.append('tit', this.cards_info_title);
            //   // End
            //   axios.post('./API/cards_info_2.php',
            //   formData 
            //   ).then(function (response) {
            //     console.log(response);
            //   });
            // axios.post('./API/cards_info_2.php',
            //   {
            //     tit : this.cards_info_title ,
            //   })
            // .then( (res) => {
            //   // this.cards_info_title = res.data[2].cardhistory_title;
            //   // this.cards_info_mansec = res.data[2].cardhistory_mangivenname;
            //   // this.cards_info_manfir = res.data[2].cardhistory_manfirstname;
            //   // this.cards_info_maneng = '';
            //   // this.cards_info_womansec = res.data[2].cardhistory_womangivenname;
            //   // this.cards_info_womanfir = res.data[2].cardhistory_womanfirstname;
            //   // this.cards_info_womaneng = '';
            //   // this.cards_info_goodtalk = res.data[2].cardhistory_greeting;
            //   // this.cards_info_local = '';
            //   // this.cards_info_marrydate = '';
            //   // this.cards_info_marrydateend = '';

            //   // this.cards_info_lovestory = res.data[2].cardhistory_ourstory;
            //   console.log(res);
            // }).catch((err) => {
            //   console.log('err_put');
            // })
            // }

            //把資料寫進sql
            doQuery() {
              // $("#result").html("<img src='../Loading.gif'> ")
              $.ajax({
                method: "POST",
                url: "./API/cards_info_2.php",
                data: {
                  tit: this.cards_info_title,
                  mansec: this.cards_info_mansec,
                  manfir: this.cards_info_manfir,
                  maneng: this.cards_info_maneng,
                  womansec: this.cards_info_womansec,
                  womanfir: this.cards_info_womanfir,
                  womaneng: this.cards_info_womaneng,
                  goodtalk: this.cards_info_goodtalk,
                  local: this.cards_info_local,
                  marrydate: this.cards_info_marrydate,
                  marrydateend: this.cards_info_marrydateend,

                  lovestory: this.cards_info_lovestory,
                  // pwd: $("#pwd").val()
                },
                dataType: "text",
                success: function (response) {
                  //更新html內容前先清空原有資料s
                  alert("已更新資料!")
                },
                error: function (exception) {
                  alert("發生錯誤: " + exception.status);
                }
              });
            }
          },

          mounted() {
            axios.get('./API/cards_info.php').then((res) => {
              // this.cards_info_mansec = res.data
              // console.log(res.data);
              this.cards_info_title = res.data[0].cardhistory_title;
              this.cards_info_mansec = res.data[0].cardhistory_mangivenname;
              this.cards_info_manfir = res.data[0].cardhistory_manfirstname;
              this.cards_info_maneng = res.data[0].cardhistory_manengname;
              this.cards_info_womansec = res.data[0].cardhistory_womangivenname;
              this.cards_info_womanfir = res.data[0].cardhistory_womanfirstname;
              this.cards_info_womaneng = res.data[0].cardhistory_womanengname;
              this.cards_info_goodtalk = res.data[0].cardhistory_greeting;
              this.cards_info_local = res.data[0].cardhistory_location;
              this.cards_info_marrydate = res.data[0].cardhistory_date;
              this.cards_info_marrydateend = res.data[0].cardhistory_dateend;

              this.cards_info_lovestory = res.data[0].cardhistory_ourstory;


            }).catch((err) => {
              console.log('res_error');
            })
          }

        });
      </script>
      <!-- ===============================VUE===================================== -->
</body>

</html>