<!DOCTYPE html>
<html lang="en">

<head>
    @@include('./layout/meta.html', {
    "title" : "我的喜帖_樣式模板_預覽"
    })
    <title>Cupid | 喜帖預覽</title>

    <script src="https://cdn.jsdelivr.net/npm/vue@2.6.14"></script>
    <script src="./js/jQ.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.24.0/axios.min.js"></script>

</head>

<body>
    <div id="cards_demo_v">
        <aside class="cards_demo_aside">
            <div class="cards_demo_aside_logo"><a href="./index.html" class="hrefbig"><img src="./images/logo_red.png"
                        alt="logo"></a></div>

            <div class="cards_demo_accordion" @click="run(event)">更換頁面主題</div>
            <!-- <ul class="cards_demo_panel" > -->
            <cards_demo_imggg @add="addd(event)"></cards_demo_imggg>
            <!-- </ul> -->
            <div class="cards_demo_accordion" @click="run(event)">更換主題顏色</div>

            <cards_demo_panel_c @cdd="chanTopC(event)"></cards_demo_panel_c>

            <div class="cards_demo_accordion" @click="run(event)">更換主題字形</div>

            <cards_demo_panel_f @fdd="fddd(event)"></cards_demo_panel_f>
            <!--font的組件-->

            <div class="cards_demo_accordion" @click="run(event)"><a href="./login.html" style="color : #333">進階客製化設定</a></div>
            <ul class="cards_demo_panel">
                <li style="font-size: 14px;">想要享受完整的客製喜帖服務嗎? <br> 專屬於您的喜帖，加入會員即刻使用!!!</li>
            </ul>


        </aside>

        <main class="cards_demo_main">
            <div class="cards_demo_main_webcontrol">
                <img src="./images/icons/computer.svg" alt="computer">
                <img src="./images/icons/mobile.svg" alt="mobile">
            </div>

            <!-- <div class="cards_demo_TV">
                <div class="cards_demo_TV2">
                    <iframe id="cards_demo_ifm" onload="changeFrameHeight()" width="100%" height="50%" src="https://tibamef2e.com/tfd104/g5/dist/cards_exports.html" frameborder="0" ></iframe>
                </div>
            </div> -->

            <div class="cards_exports_newout">
                <div class="cards_exports_titlebg">
                    <h1 class="cards_exports_title" :style="changeTopC">Liz & Mou</h1>
                    <div class="cards_exports_atop">
                        <a href="#cards_exports_infotext">婚禮資訊</a>
                        <a href="#cards_exports_infotext3">我們的故事</a>
                        <a href="#cards_exports_infotext5">出席回覆</a>
                    </div>
                    <div class="cards_exports_img01">
                        <img src="./images/cards/cards_exports_01.jpg" alt="">
                    </div>
                    <div class="cards_exports_imgbg">
                        <img :src="topicImg" alt="">
                    </div>

                </div>

                <h2 class="cards_exports_dtext">我們迫不急待地想和你分享我們特別的這一天。</h2>

                <div class="cards_exports_time">
                    <p class="cards_exports_time_01" :style="changeTopC">2021/12/01</p>
                    <p class="cards_exports_time_02" :style="changeTopC">Wednesday</p>
                    <div class="cards_exports_time_03">加入google行事曆</div>
                    <p class="cards_exports_time_04">台北大直典華三樓 璀璨聽</p>

                </div>





                <div class="cards_exports_infoimg">
                    <img src="./images/cards/cards_exports_02.jpg" alt="">
                </div>


                <h2 class="cards_exports_infotext" id="cards_exports_infotext" :style="changeTopC">婚禮資訊</h2>


                <div class="cards_exports_infooutbox">
                    <div class="cards_exports_iframeei">
                        <iframe
                            src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3614.467687045387!2d121.54106421537914!3d25.052132843717526!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3442abe6b0446815%3A0xf006dde8c27afcc7!2z57ev6IKyVGliYU1l6ZmE6Kit5Y-w5YyX6IG36KiT5Lit5b-D!5e0!3m2!1szh-TW!2stw!4v1640197200145!5m2!1szh-TW!2stw"
                            width="490" height="320" style="border:0;" allowfullscreen="" loading="lazy"></iframe>
                    </div>


                    <div class="cards_exports_infobox">
                        <div class="cards_exports_infomap">
                            日期&時間 | Date&Time
                            <p>
                                2020/07/11 上午10:00
                            </p>
                        </div>
                        <div class="cards_exports_infomap">
                            場地｜Venue
                            <p>
                                大直典華 三樓 璀璨廳
                            </p>
                        </div>
                        <div class="cards_exports_infomap">
                            地址＆電話｜Address＆Tel
                            <p>
                                台北市中山區植福路8號<br>
                                02-8502-5555
                            </p>
                        </div>
                    </div>
                </div>


                <div class="cards_exports_infoimg3">
                    <img src="./images/cards/cards_exports_03.jpg" alt="">
                </div>

                <h2 class="cards_exports_infotext3" id="cards_exports_infotext3" :style="changeTopC">我們的故事</h2>

                <p class="cards_exports_story">
                    我第一次見到他時,我們正坐在同一登機口,等待飛往聖地亞哥的航班。<br>
                    我記得我瞥了他一眼,心裡想, 哦, 哇!他真可愛。<br>
                    當我來到我的座位時,我看到旁邊的座位是空的,我想,如果他最後坐在我旁邊該多好啊?<br>
                    嗯,他做到了。我們開始聊天,然後他要了我的電話號碼然後我們就分道揚鑣了。<br>
                    我確信再也不會有他的消息了。我經常想起他,但最終他消失在「失去的聯繫」類別中。<br>
                    幾個月後,他突然給我發了一條訊息,說:「新年快樂!」我們一見如故,就像一切都沒有改變一樣。

                </p>


                <h2 class="cards_exports_infotext4" :style="changeTopC">婚禮倒數</h2>

                <div class="cards_exports_ontime">
                    <div class="cards_exports_ontime1"><span>102</span>days</div>
                    <div class="cards_exports_ontime1"><span>15</span>hour</div>
                    <div class="cards_exports_ontime1"><span>48</span>min</div>
                    <div class="cards_exports_ontime1"><span>12</span>sec</div>
                </div>

                <div class="cards_exports_frombg">

                    <div class="cards_exports_infoimg4">
                        <img src="./images/cards/cards_exports_04.png" alt="">
                    </div>


                    <h2 class="cards_exports_infotext5" id="cards_exports_infotext5" :style="changeTopC">出席回覆</h2>

                    <p class="cards_exports_formte">
                        我們懷著喜悅與感謝的心，期待能見到你!<br>
                        為方便安排座席，請於<span>2021-11-01</span>前回覆出席資訊，謝謝!

                    </p>

                    <form action="#" method="get" class="cards_exports_fromexpo">
                        <div class="cards_exports_fromQ1">
                            <p class="cards_exports_formname">你的大名</p>
                            <input type="text" placeholder="    曾俊傑" class="cards_exports_forminput">
                        </div>
                        <div class="cards_exports_fromQ1">
                            <select>
                                <option value="" selected disabled>您與新人的關係?</option>
                                <option value="新郎親友">新郎親友</option>
                                <option value="新娘親友">新娘親友</option>
                            </select>
                        </div>
                        <div class="cards_exports_fromQ1">
                            <select>
                                <option value="" selected disabled>是否能來參加我們的婚宴？</option>
                                <option value="是">是</option>
                                <option value="否">否</option>
                            </select>
                        </div>
                        <div class="cards_exports_fromQ1">
                            <select>
                                <option value="" selected disabled>攜伴人數</option>
                                <option value="1">1</option>
                                <option value="2">2</option>
                                <option value="3">3</option>
                                <option value="4">4</option>
                                <option value="5">5</option>
                                <option value="6">6</option>
                                <option value="7">7</option>
                                <option value="8">8</option>
                            </select>
                        </div>
                        <div class="cards_exports_fromQ1">
                            <select>
                                <option value="" selected disabled>需要為您準備素食嗎?</option>
                                <option value="是">是</option>
                                <option value="否">否</option>
                            </select>
                        </div>
                        <div class="cards_exports_fromQ1">
                            <select id="cards_exports_send" onchange="cardsendexp()">
                                <option value="0" selected disabled>您需要我們寄送紙本喜帖給您嗎？</option>
                                <option value="1">是</option>
                                <option value="2">否</option>
                            </select>
                        </div>
                        <div class="cards_exports_fromQ1" id="send_expo_1" style="display: none;">
                            <p class="cards_exports_formname">地址</p>
                            <input type="text" placeholder="  **縣市**區**路**段**巷**弄**號**樓"
                                class="cards_exports_forminput">
                        </div>
                        <div class="cards_exports_fromQ1" id="send_expo_2" style="display: none;">
                            <p class="cards_exports_formname">手機號碼</p>
                            <input type="text" placeholder="  0912345678" class="cards_exports_forminput">
                        </div>
                        <div class="cards_exports_fromQ1" id="send_expo_3" style="display: none;">
                            <p class="cards_exports_formname">E-mail</p>
                            <input type="text" placeholder="  wearecupid@gmail.com" class="cards_exports_forminput">
                        </div>
                        <div class="cards_exports_fromQ1">
                            <p class="cards_exports_formname">備註</p>
                            <input type="text" placeholder="   請留下其他您想問的問題或想說的話" class="cards_exports_forminput">
                        </div>

                        <button type="submit" class="cards_exports_submit btn_red">送出</button>
                        <span class="cards_exports_down"></span>



                    </form>

                </div>
            </div>

            <div class="cards_demo_btn">
                <a href="./cards_dashboard.html" class=" btn_red">開始製作</a>
            </div>
        </main>

    </div>

    <script>
        let cards_demo_accordion = document.getElementsByClassName('cards_demo_accordion');


        function cardsendexp() {
            // console.log(cards_exports_send[cards_exports_send_index]);
            // console.log(cards_exports_send.value);
            if (cards_exports_send.value == 1) {
                let send_expo_1 = document.getElementById('send_expo_1');
                let send_expo_2 = document.getElementById('send_expo_2');
                let send_expo_3 = document.getElementById('send_expo_3');

                send_expo_1.style.display = 'block';
                send_expo_2.style.display = 'block';
                send_expo_3.style.display = 'block';
            } else if (cards_exports_send.value == 2) {
                send_expo_1.style.display = 'none';
                send_expo_2.style.display = 'none';
                send_expo_3.style.display = 'none';
            }
        }

        Vue.config.devtools = true

        Vue.component('cards_demo_panel_c', {
            data() {
                return {
                    colorss: [
                        { color: '#444444' },
                        { color: '#7096C5' },
                        { color: '#7E675B' },
                        { color: '#DFCE85' },
                        { color: '#9AA493' },
                        { color: '#DDDDDD' },
                        { color: '#EA9669' },
                        { color: '#DEA3C2' },
                        { color: '#956DB1' },
                        { color: '#B8564F' },
                        { color: '#E0BFBE' },
                        { color: '#E0E0E0' },
                        { color: '#000000' },
                        { color: '#AD4F4F' },
                        { color: '#F3D983' },
                        { color: '#932639' },

                    ]
                }
            },
            template: `
            <ul class="cards_demo_panel">
                <li v-for="colors in colorss" class="cards_demo_panel_color" :style="{backgroundColor: colors.color}" @click=" $emit('cdd')"></li>
            </ul>
            `,
            mounted() {
                axios.get('./API/cards_demo.php').then((res) => {
                    // console.log(res.data);
                    // this.colorss = res.data;
                })
            },
        })

        Vue.component('cards_demo_panel_f', {
            data() {
                return {
                    fontss: [
                        { id: 1, fontUrl: 'Oswald', fontFam: "'Oswald', sans-serif" },
                        { id: 2, fontUrl: 'Vujahday Script', fontFam: "'Vujahday Script', cursive" },
                        { id: 3, fontUrl: 'Qwitcher Grypen', fontFam: "'Qwitcher Grypen', cursive" },
                        { id: 4, fontUrl: 'Qwitcher Grypen', fontFam: "'Noto Serif TC', serif" },
                        { id: 5, fontUrl: 'Qwitcher Grypen', fontFam: "'oboto', sans-serif" },

                    ]
                }
            },
            template: `
            <ul class="cards_demo_panel">
                <li class="cards_demo_panel_font" v-for="fonts in fontss" :style="{fontFamily:fonts.fontFam }" @click=" $emit('fdd')">{{ fonts.fontUrl }}</li>
            </ul>
            `,
        })


        Vue.component('cards_demo_imggg', {
            data() {
                return {
                    imgss: [

                        { id: 1, imgUrl: './images/cards/cards_skin/cards_skin_r0.jpg' },
                        { id: 2, imgUrl: './images/cards/cards_skin/cards_skin_r01.jpg' },
                        { id: 3, imgUrl: './images/cards/cards_skin/cards_skin_r02.jpg' },
                        { id: 4, imgUrl: './images/cards/cards_skin/cards_skin_r03.jpg' },
                        { id: 5, imgUrl: './images/cards/cards_skin/cards_skin_r04.jpg' },
                        { id: 6, imgUrl: './images/cards/cards_skin/cards_skin_r05.jpg' },
                        { id: 7, imgUrl: './images/cards/cards_skin/cards_skin_r06.jpg' },
                        { id: 8, imgUrl: './images/cards/cards_skin/cards_skin_r07.jpg' },
                        { id: 9, imgUrl: './images/cards/cards_skin/cards_skin_r08.jpg' },

                    ]
                }
            },
            template: `
            <ul class="cards_demo_panel" >
                <li class="cards_demo_panel_img"  v-for="imgs in imgss"><img :src="imgs.imgUrl" @click=" $emit('add')"></li>
            </ul>
            `,

        })

        let vm = new Vue({
            el: '#cards_demo_v',
            data: {
                topicImg: './images/cards/cards_exports_01_00.jpg',
                topicColor: 'rgba(147, 38, 57, 1)',
                topicFont: 'Noto Serif TC", serif',
            },
            computed: {
                changeTopC() {
                    return {
                        color: `${this.topicColor}`,
                        fontFamily: `${this.topicFont}`
                    }
                },


            },
            methods: {
                run(event) {
                    // console.log(event.target);
                    event.target.classList.toggle("cards_demo_active");

                    let cards_demo_panel = event.target.nextElementSibling;
                    if (cards_demo_panel.style.maxHeight) {
                        cards_demo_panel.style.maxHeight = null;
                    } else {
                        cards_demo_panel.style.maxHeight = cards_demo_panel.scrollHeight + "px"
                    }

                },

                chanTopC(event) {
                    // console.log(event.target.style.backgroundColor); 
                    this.topicColor = event.target.style.backgroundColor
                },
                addd(event) {
                    this.topicImg = event.target.src
                },
                fddd(e) {
                    this.topicFont = e.target.style.fontFamily
                    // console.log(event.target.style.fontFamily);
                }

            },

        });
    </script>
</body>

</html>