<!DOCTYPE html>
<html lang="en">

<head>
    @@include('./layout/meta.html', {
    "title" : "客製喜帖"
    })
    <title>我的喜帖 | 完成預覽畫面</title>
    <script src="https://cdn.jsdelivr.net/npm/vue@2.6.14"></script>
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <style>
        body {
            background: white;
        }
    </style>
    <script>
        $(function() {
        let checkTime = document.getElementById('checkTime')
        let setMin = 60;
        checkTime.innerText =  setMin;

        timer = setInterval(function(){
            if(setMin > 0){
                setMin--
                checkTime.innerText =  setMin;

            }else{
                clearInterval(timer)
            }
        },1000)
        })
    </script>
</head>

<body>
    <div id="qqq">
    <div class="cards_exports_titlebg">
        <h1 class="cards_exports_title":style="changeTopC">{{cards_info_womaneng}} & {{cards_info_maneng}}</h1>
        <div class="cards_exports_atop">
            <a href="#cards_exports_infotext">婚禮資訊</a>
            <a href="#cards_exports_infotext3">我們的故事</a>
            <a href="#cards_exports_infotext5">出席回覆</a>
        </div>
        <div class="cards_exports_img01">
            <img :src="image1" alt="">
        </div>
        <div class="cards_exports_imgbg">
            <img :src="topicImg" alt="">
        </div>

    </div>

    <h2 class="cards_exports_dtext">我們迫不急待地想和你分享我們特別的這一天。</h2>

    <div class="cards_exports_time">
        <p class="cards_exports_time_01" :style="changeTopC" >{{cards_info_marrydate}}</p>
        <p class="cards_exports_time_02" :style="changeTopC">Wednesday</p>
        <div class="cards_exports_time_03">加入google行事曆</div>
        <p class="cards_exports_time_04">台北大直典華三樓 璀璨聽</p>

    </div>





    <div class="cards_exports_infoimg">
        <img :src="image2" alt="">
    </div>


    <h2 class="cards_exports_infotext" id="cards_exports_infotext">婚禮資訊</h2>


    <div class="cards_exports_infooutbox">
        <div class="cards_exports_iframeei">
            <iframe
                src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3614.467687045387!2d121.54106421537914!3d25.052132843717526!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3442abe6b0446815%3A0xf006dde8c27afcc7!2z57ev6IKyVGliYU1l6ZmE6Kit5Y-w5YyX6IG36KiT5Lit5b-D!5e0!3m2!1szh-TW!2stw!4v1640197200145!5m2!1szh-TW!2stw"
                width="490" height="320" style="border:0;" allowfullscreen="" loading="lazy"></iframe>
        </div>


        <div class="cards_exports_infobox">
            <div class="cards_exports_infomap">
                日期&時間 | Date&Time
                <p >
                    {{cards_info_marrydate}}
                </p>
            </div>
            <div class="cards_exports_infomap">
                場地｜Venue
                <p>
                    大直典華 三樓 璀璨廳
                </p>
            </div>
            <div class="cards_exports_infomap">
                地址＆電話｜Address＆Tel
                <p >
                    {{cards_info_local}}<br>
                    02-1314-2599
                </p>
            </div>
        </div>
    </div>


    <div class="cards_exports_infoimg3">
        <img :src="image3" alt="">
    </div>

    <h2 class="cards_exports_infotext3" id="cards_exports_infotext3">我們的故事</h2>

    <p class="cards_exports_story">
        {{cards_info_lovestory}}

    </p>


    <h2 class="cards_exports_infotext4" :style="changeTopC">婚禮倒數</h2>

    <div class="cards_exports_ontime">
        <div class="cards_exports_ontime1"><span>102</span>days</div>
        <div class="cards_exports_ontime1"><span>15</span>hour</div>
        <div class="cards_exports_ontime1"><span>48</span>min</div>
        <div class="cards_exports_ontime1"><span id="checkTime"></span>sec</div>
    </div>
    </div>

    <div class="cards_exports_frombg">

        <div class="cards_exports_infoimg4">
            <img :src="image4" alt="">
        </div>


        <h2 class="cards_exports_infotext5" id="cards_exports_infotext5" :style="changeTopC">出席回覆</h2>

        <p class="cards_exports_formte">
            我們懷著喜悅與感謝的心，期待能見到您！<br>
            為方便安排座席，請於<span>2022-04-22</span>前回覆出席資訊，謝謝！

        </p>
        <div id="myapp">
            <section class="cards_exports_fromexpo">
                <div class="cards_exports_fromQ1">
                    <p class="cards_exports_formname">* 您的中文姓名</p>
                    <input type="text" placeholder="王小明" class="cards_exports_forminput" v-model='guestname'>
                </div>

                <div class="cards_exports_fromQ1" id="send_expo_2">
                    <p class="cards_exports_formname">* 手機號碼</p>
                    <input type="text" placeholder="0912345678" class="cards_exports_forminput" v-model='phone'>
                </div>

                <div class="cards_exports_fromQ1" id="send_expo_3">
                    <p class="cards_exports_formname">* E-mail</p>
                    <input type="email" placeholder="wearecupid@gmail.com" class="cards_exports_forminput"
                        v-model='email'>
                </div>

                <div class="cards_exports_fromQ1">
                    <p class="cards_exports_formname">* 請問您與新人的關係？</p>
                    <select v-model='relationship'>
                        <option value="男方家人">男方家人</option>
                        <option value="男方朋友">男方朋友</option>
                        <option value="男方同事">男方同事</option>
                        <option value="女方家人">女方家人</option>
                        <option value="女方朋友">女方朋友</option>
                        <option value="女方同事">女方同事</option>
                    </select>
                </div>

                <div class="cards_exports_fromQ1">
                    <p class="cards_exports_formname">* 請問是否能來參加我們的婚宴？</p>
                    <select v-model='attend'>
                        <option value="是">是的，我會參加</option>
                        <option value="否">無法參加</option>
                    </select>
                </div>

                <div class="cards_exports_fromQ1">
                    <p class="cards_exports_formname">* 請問當天的攜伴人數?</p>
                    <select v-model='companion'>
                        <option value="0">無需攜伴</option>
                        <option value="1">1</option>
                        <option value="2">2</option>
                        <option value="3">3</option>
                        <option value="4">4</option>
                    </select>
                </div>

                <div class="cards_exports_fromQ1">
                    <p class="cards_exports_formname">* 請問需要為您準備幾份素食?</p>
                    <select v-model='food'>
                        <option value="0">不需要</option>
                        <option value="1">1</option>
                        <option value="2">2</option>
                        <option value="3">3</option>
                        <option value="4">4</option>
                        <option value="5">5</option>
                    </select>
                </div>

                <div class="cards_exports_fromQ1">
                    <p class="cards_exports_formname">* 請問需要寄送紙本喜帖給您嗎?</p>
                    <select id="cards_exports_send" onchange="cardsendexp()" v-model='cards'>
                        <option value="是">是</option>
                        <option value="否">否</option>
                    </select>
                </div>

                <div class="cards_exports_fromQ1" id="send_expo_1">
                    <p class="cards_exports_formname">地址</p>
                    <input type="text" placeholder="**縣市**區**路**段**巷**弄**號**樓" class="cards_exports_forminput"
                        v-model='address'>
                </div>
                <div class="cards_exports_fromQ1">
                    <p class="cards_exports_formname">備註</p>
                    <input type="text" placeholder="請留下其它想問的問題或想說的話" class="cards_exports_forminput" v-model='notes'>
                </div>

                <button class="cards_exports_submit btn_red" value='Add' @click='addRecord()'>送出</button>
                <span class="cards_exports_down"></span>

            </section>
        </div>
    </div>

    


    <script>
        let cards_exports_send = document.getElementById('cards_exports_send');
        // let cards_exports_send_index = cards_exports_send.selectedIndex;
        // console.log(cards_exports_send_index);

        function cardsendexp() {
            // console.log(cards_exports_send[cards_exports_send_index]);
            console.log(cards_exports_send.value);
            if (cards_exports_send.value == 1) {
                let send_expo_1 = document.getElementById('send_expo_1');
                let send_expo_2 = document.getElementById('send_expo_2');
                let send_expo_3 = document.getElementById('send_expo_3');

                send_expo_1.style.display = 'block';
                send_expo_2.style.display = 'block';
                send_expo_3.style.display = 'block';
            } else if (cards_exports_send.value == 2) {
                send_expo_1.style.display = 'none';
                send_expo_2.style.display = 'none';
                send_expo_3.style.display = 'none';
            }
        }

    </script>
    <script>
        let app = new Vue({
            el: '#myapp',
            data: {
                guestname: "",
                relationship: "",
                attend: "",
                companion: "",
                food: "",
                cards: "",
                address: "",
                phone: "",
                email: "",
                notes: ""
            },
            methods: {
                allRecords: function () {
                    axios.post('./API/cards_exports_form.php', {
                        request: 1
                    })
                        .then(function (response) {
                            app.users = response.data;
                        })
                        .catch(function (error) {
                            console.log(error);
                        });

                },
                addRecord: function () {
                    if (
                        this.guestname != ''
                        && this.relationship != ''
                        && this.attend != ''
                        && this.companion != ''
                        && this.food != ''
                        && this.cards != ''
                        && this.phone != ''
                        && this.email != ''
                    ) {
                        axios.post('./API/cards_exports_form.php', {
                            request: 2,
                            questionnaire_guestname: this.guestname,
                            questionnaire_relationship: this.relationship,
                            questionnaire_attend: this.attend,
                            questionnaire_companion: this.companion,
                            questionnaire_food: this.food,
                            questionnaire_cards: this.cards,
                            questionnaire_address: this.address,
                            questionnaire_phone: this.phone,
                            questionnaire_email: this.email,
                            questionnaire_notes: this.notes
                        })
                            .then(function (response) {
                                console.log(response);
                                // Fetch records
                                app.allRecords();

                                // Empty values
                                app.guestname = '';
                                app.relationship = '';
                                app.attend = '';
                                app.companion = '';
                                app.food = '';
                                app.cards = '';
                                app.address = '';
                                app.phone = '';
                                app.email = '';
                                app.notes = '';

                                alert(response.data);
                            })
                            .catch(function (error) {
                                console.log(error);
                            });
                    } else {
                        alert('請填完必填欄位!');
                        location.href = './cards_exports.html';
                    }
                }
            },
            created: function () {
                this.allRecords();
            }
        })
    </script>
    <script>
        let qq = new Vue({
            el:"#qqq",
            data: {
                topicImg:'./images/cards/cards_exports_01_00.jpg',
                topicColor:'rgba(147, 38, 57, 1)',
                topicFont:'Noto Serif TC", serif',
                nowWeek:'',
                nowTime:new Date().getDay(),
                image1:'',
                image2:'',
                image3:'',
                image4:'',
                cards_info_title: '',
                cards_info_maneng: '',
                cards_info_womaneng: '',
                cards_info_goodtalk: '',
                cards_info_local: '',
                cards_info_marrydate: '',
                cards_info_marrydateend: '',
                cards_info_lovestory: '',

                id:location.search.replace("?id=", ""),
            },
            computed: {
                changeTopC() {
                    return {
                        color: `${this.topicColor}`,
                        fontFamily: `${this.topicFont}`
                    }
                },

            },
            mounted() {
                // php預設不支援json格式 所以先轉成formData格式
                let formData  = new FormData();
                formData.append('id', this.id);
                // End

                axios.post('./API/cards_exports.php',
                    formData
                ).then( (res) => {
                    console.log(res.data);
                    this.topicImg = res.data[0].cardhistory_templatename;
                    this.topicColor = res.data[0].cardhistory_templatecolor;
                    this.topicFont = res.data[0].cardhistory_fontname;
                    this.image1 = res.data[0].cardhistory_photoupload;
                    this.image2 = res.data[0].cardhistory_photoupload2;
                    this.image3 = res.data[0].cardhistory_photoupload3;
                    this.image4 = res.data[0].cardhistory_photoupload4;

                    this.cards_info_title = res.data[0].cardhistory_title;
                    this.cards_info_maneng = res.data[0].cardhistory_manengname;
                    this.cards_info_womaneng = res.data[0].cardhistory_womanengname;
                    this.cards_info_goodtalk = res.data[0].cardhistory_greeting;
                    this.cards_info_local = res.data[0].cardhistory_location;
                    this.cards_info_marrydate = res.data[0].cardhistory_date;
                    this.cards_info_marrydateend = res.data[0].cardhistory_dateend;

                    this.cards_info_lovestory = res.data[0].cardhistory_ourstory;
                })


            },
        })
    </script>
</body>

</html>