<footer>
    <div class="footer">
        <div class="footerfelx">
            <div class="footericon"><a href="../index.html" style="color: white;text-decoration: none;">
                <img src="./images/cupid_white.png" alt="">
                <p>© Cupid  Team</p>
            </a>
            </div>
            <div class="footernav">
                <ul class="footerul">
                    <li class="footerli"><a class="footera" href="./aboutus.html">關於我們</a></li>
                    <li class="footerli"><a class="footera"  href="./cards.html">電子喜帖</a></li>
                    <li class="footerli"><a class="footera"  href="./gift.html">婚禮小物</a></li>
                    <li class="footerli"><a class="footera"  href="./faq.html">常見問題</a></li>
                </ul>
            </div>
            <div class="footercom">
                <h1>聯絡我們</h1><br>
                <p class="footertel">02-123456789</p>
                <p class="footermail">Hello@Cupid.com</p>
                <p class="footeradd">104 台北市中山區南京東路三段219號5樓</p>
                <a href="#"><img src="./images/icons/facebook.svg" alt=""></a>
                <a href="#"><img src="./images/icons/ig.svg" alt=""></a>
            </div>
            <!--  -->
            <div class="footericon2"><a href="./index.html" style="color: white;text-decoration: none;">
                <img src="./images/cupid_white.png" alt="">
                <p>© Cupid  Team</p>
            </a>
            </div>
            <!--  -->
            <div class="footertibame">
                <h1>智財權說明</h1><br>
                <p>本網站為緯育TibaMe前端設計工程師班第72期<br>
                    第五組學員專題成果作品，本平台僅供學習、展示之用。<br>
                    參考資源： 馬力歐賽車、NFT。<br>
                    若有侵權疑慮，您可以私訊 [ 緯育TibaMe ]，後續會由專人協助處理
                </p>
            </div>
        </div>
    </div>
  
  </footer>